html {
       --box-Shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
       --projectCard-shadow: 0 5px 10px rgba(73, 52, 52, 0.9);
       --flapCard-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
       --bg-Card:rgb(250,250,250);

}

html[ data-theme="dark"] {
       --box-Shadow: 0 2px 0px 0 #fff;
       --projectCard-shadow: 0 3px 5px #fff;
       --flapCard-shadow: 0 2px 0px 0 #fff;
       --bg-Card:#ebebeb;
}

a.toggle-info {
  background: #ff2019;
  border-radius: 4px;
  box-shadow: var(--box-Shadow);
  color: var(--theme-color);
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s ease-out;
  transition: all 0.1s 0s ease-out;
}

div.achievement-card {
  margin: 70px auto;
  max-width: 1300px;
  text-align: center;
}

div.project-card {
  display: inline-block;
  margin: 20px;
  max-width: 300px;
  -webkit-perspective: 1000;
  perspective: 1000;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 2;
  box-shadow:  var(--projectCard-shadow);
  cursor: pointer;

}

div.project-card img {
  max-width: 300px;
}

div.project-card img {
  max-width: 300px;
} 

.basic-cards {
	margin-bottom: 2em;
}
.more-cards {
	margin-bottom: 2em;
}

div.project-card .project-image-holder {
  background: var(--font-color);
  height: 0;
  padding-bottom: 75%;
  border-top: 4px solid var(--theme-color);
}

div.project-card div.project-title {
  background: var(--theme-color);
  padding: 8px 15px 10px;
  position: relative;
  z-index: 0;
}
div.project-card div.project-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}

div.project-card div.project-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
  color: white;
}
div.project-card div.project-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.project-card div.card-description {
  padding: 10px 15px 10px;
  background-color: #f3d3c4;
  color: black;
  text-align: justify;
  position: relative;
  font-size: 14px;
}
div.project-card div.card-actions {
  box-shadow: var(--flapCard-shadow);
  background-color: #f3d3c4;
  padding: 10px 15px 20px;
  text-align: center;
}

div.project-card div.card-actions a {
    font-weight: bold;
    color: white;
    background-color: var(--theme-color);
    border-radius: 10em;
  }

div.project-card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
div.project-card div.flap1 {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.project-card div.flap2 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.achievement-card.showing div.project-card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
   transform: scale(0.88);
}
.no-touch div.achievement-card.showing div.project-card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
div.project-card.show {
  z-index: 15;	
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;	  
}
div.project-card.show div.project-title a.toggle-info {
  background: #ff2019 !important;
}

div.project-card.show div.card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
div.project-card.show div.flap1 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
div.project-card.show div.flap2 {
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}

.container .card{
  position: relative;
  cursor: pointer;
  border: none;
}

.achievementCard .card-link {
display: block;
text-align: right;
opacity: 0.6;
color: gray;
transition: all 0.3s ease;
}

.achievementCard .card-link > i {
font-size: 14px;
margin-left: 3px;
color: gray;
}
.achievementCard .card-link:hover{
color: black;
opacity: 1;
}
.achievementCard .card-link:hover i {
color: black;
opacity: 1;
}

.card-1,.card-2, .card-3{
  background-color: var(--bg-Card);
  box-shadow:var(--flapCard-shadow);
}
.stat {
  padding-bottom: 30px;
}

.stat-items {
margin-top:2rem;
}

.stat-items h2 {
  font-weight: bold;
  font-size: 42px;
  color: var(--theme-color);
  margin-top: 8px;
}
.stat-items p {
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--font-color);
}

.card-text {
  text-align: justify;
  color: rgba(0, 0, 0, 0.604);
}

.card-title {
  text-align: center;
  font-weight: bold;
  letter-spacing: normal;
  font-size: 22px;
  color: black;
}

.margin-button {
	margin-top: 200px !important;
}

.margin-button2 {
	margin-top: 250px !important;
}

i.fa-chevron-down, i.fa-chevron-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px !important;
	color: var(--white) !important;
}
i.fa-chevron-up {
	transform: translate(-50%, -60%);
}

.achieve-card:hover .card-title {
	color: white;
}
.achieve-card:hover .card-text {
	color:white;
}
.achieve-card:hover .card-link {
	color:black;
	opacity: 0.8;
}
.achieve-card:hover .card-link i {
	color: black;
}

@media only screen and (max-width: 575px) {
    .card-content {
        padding-left:25px;
        padding-right:25px;
  }

}

@media only screen and (max-width: 515px) {

    .card--1 {
        padding-left:0px;
        padding-right:0px;
    }
    .card--2 {
        padding-left:0px;
        padding-right:0px;
    } 
    .card--2 {
        padding-left:0px;
        padding-right:0px;    
    }
    .card--3 {
        padding-left:0px;
        padding-right:0px;
    }

}   

.hidediv {
    display: none;
  }

.afab {
    font-size: 4em;
    color: var(--theme-color);
  }


.cardInnerText {
    color:black;
  }
.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background-color: var(--theme-color);
    height: 74px;
    width: 52px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
.card:hover:before {
    transform: scale(22);
  }

.card{
    overflow: hidden;
  } 

.ct1 {
    letter-spacing: 1px;
  }#FF8C00
.ct2 {
    letter-spacing: 2px;
 }
.ct3 {
    letter-spacing: -1px;
}
 
@media only screen and (max-width: 1200px) {

    .card--3 {
        margin: auto;
    }
    .ct2{
      letter-spacing: 2px;
    }

}  