@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
	--box-Shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
	--projectCard-shadow: 0 5px 10px rgba(73, 52, 52, 0.9);
	--flapCard-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
	--box-clr: #fff;
	--project-card: #f47621;
	--project-desc: #f3d3c4;
	--down-btn:#f47621;
}

html[data-theme='dark'] {
	--box-Shadow: 0 2px 0px 0 #fff;
	--projectCard-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
	--flapCard-shadow: 0 2px 0px 0 #fff;
	--box-clr: #202020;
	--project-card: #272727;
	--project-desc: #272727;
	--down-btn: #fff;
}

a.toggle-info {
	background: var(--bg1-color);
	border-radius: 4px;
	color: var(--down-btn);
	display: inline-block;
	padding: 6px 30px 8px;
	position: relative;
	text-decoration: none;
	-webkit-transition: all 0.1s 0s ease-out;
	-o-transition: all 0.1s 0s ease-out;
	transition: all 0.1s 0s ease-out;
}
a.toggle-info:hover {
	color: var(--nav-clr);
}
a.toggle-info .fa-chevron-down {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
a.toggle-info .fa-chevron-up {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-45%, -55%);
	-ms-transform: translate(-45%, -55%);
	transform: translate(-45%, -55%);
}

.counter {
	font-family: 'Comfortaa', sans-serif;
}

.counter-text {
	font-family: 'Comfortaa', sans-serif;
	font-weight: bolder;
}

.card-head {
	font-family: 'Baloo Bhaina 2', sans-serif;
	color: var(--font-color);
}

.project-card-head {
	font-size: 42px;
}

.clr-theme {
	font-weight: lighter;
}

.achievement-card-head {
	font-size: 38px;
	letter-spacing: 3px;
}

.card-title {
	font-family: 'Quicksand', sans-serif;
}

.center-btn-settings {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 3px;
}

.rh1,.rh2,.rh3 {
	font-size: 20px;
	letter-spacing: 1.5px;
}

.container{
	padding-top: 5px;
}

.row {
	padding-top: 35px;
}

div.achievement-card {
	margin: 70px auto;
	max-width: 1300px;
	text-align: center;
}

.card-text {
	font-family: 'Comfortaa', sans-serif;
	text-align: justify;
}

div.project-card {
	display: inline-block;
	margin: 20px;
	max-width: 300px;
	-webkit-perspective: 1000;
	perspective: 1000;
	position: relative;
	text-align: left;
	-webkit-transition: all 0.3s 0s ease-in;
	-o-transition: all 0.3s 0s ease-in;
	transition: all 0.3s 0s ease-in;
	width: 300px;
	z-index: 2;
	-webkit-box-shadow: var(--projectCard-shadow);
	box-shadow: var(--projectCard-shadow);
	cursor: pointer;
}

div.project-card img {
	max-width: 300px;
}

div.project-card img {
	max-width: 300px;
}

.basic-cards {
	margin-bottom: 2em;
}
.more-cards {
	margin-bottom: 2em;
}

div.project-card .project-image-holder {
	background: var(--font-color);
	height: 0;
	padding-bottom: 75%;
	border-top: 4px solid var(--project-card);
	max-width:300px;
}

div.project-card .project-image-holder img{
	max-width:300px;
}

div.project-card div.project-title {
	background: var(--project-card);
	padding: 8px 15px 10px;
	position: relative;
	z-index: 0;
}
div.project-card div.project-title a.toggle-info {
	border-radius: 32px;
	height: 32px;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 10px;
	width: 32px;
}

div.project-card div.project-title h2 {
	font-size: 16.7px;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	color: white;
}
div.project-card div.project-title h2 small {
	display: block;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 2px;
}
div.project-card div.card-description {
	padding: 10px 15px 10px;
	background-color: var(--project-desc);
	color: var(--font-color);
	text-align: justify;
	position: relative;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.2px;
}

div.project-card div.card-actions {
	font-family: 'Montserrat', sans-serif;
	-webkit-box-shadow: var(--flapCard-shadow);
	box-shadow: var(--flapCard-shadow);
	background-color: var(--project-desc);
	padding: 10px 15px 20px;
	text-align: center;
}

div.project-card div.card-actions a:hover {
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

div.project-card div.card-actions a {
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: var(--theme-color);
	border-radius: 10em;
	letter-spacing: 1px;
}

div.project-card div.card-flap {
	background: #d9d9d9;
	position: absolute;
	width: 100%;
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
div.project-card div.flap1 {
	-webkit-transition: all 0.3s 0.3s ease-out;
	-o-transition: all 0.3s 0.3s ease-out;
	transition: all 0.3s 0.3s ease-out;
	z-index: -1;
}
div.project-card div.flap2 {
	-webkit-transition: all 0.3s 0s ease-out;
	-o-transition: all 0.3s 0s ease-out;
	transition: all 0.3s 0s ease-out;
	z-index: -2;
}
div.achievement-card.showing div.project-card {
	cursor: pointer;
	opacity: 0.6;
	-webkit-transform: scale(0.88);
	-ms-transform: scale(0.88);
	transform: scale(0.88);
}
.no-touch div.achievement-card.showing div.project-card:hover {
	opacity: 0.94;
	-webkit-transform: scale(0.92);
	-ms-transform: scale(0.92);
	transform: scale(0.92);
}
div.project-card.show {
	z-index: 15;
	opacity: 1 !important;
	-webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
}

div.project-card.show div.card-flap {
	background: #ffffff;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
div.project-card.show div.flap1 {
	-webkit-transition: all 0.3s 0s ease-out;
	-o-transition: all 0.3s 0s ease-out;
	transition: all 0.3s 0s ease-out;
}
div.project-card.show div.flap2 {
	-webkit-transition: all 0.3s 0.2s ease-out;
	-o-transition: all 0.3s 0.2s ease-out;
	transition: all 0.3s 0.2s ease-out;
}

.container .card {
	position: relative;
	cursor: pointer;
	border: none;
}

.achievementCard .card-link {
	display: block;
	text-align: right;
	opacity: 0.6;
	color: var(--font-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.achievementCard .card-link > i {
	font-size: 14px;
	margin-left: 3px;
	color: var(--font-color);
}

.achievementCard .card-link:hover {
	color: white;
	opacity: 1;
}

.card-1,.card-2,.card-3 {
	border-radius: 20px !important;
	background-color: var(--bg1-Card);
	-webkit-box-shadow: var(--box-shadow) !important;
	box-shadow: var(--box-shadow)!important;
}

.stat {
	padding-bottom: 30px;
}

.stat-items {
	margin-top: 2rem;
}

.stat-items h2 {
	font-weight: bold;
	font-size: 42px;
	color: var(--theme-color);
	margin-top: 8px;
}
.stat-items p {
	font-weight: bold;
	letter-spacing: 1px;
	color: var(--font-color);
}

.card-text {
	color: var(--font-color);
}

.card-title {
	text-align: center;
	font-weight: bold;
	letter-spacing: normal;
	font-size: 22px;
	color: var(--theme-color);
}

.margin-button {
	margin-top: 200px !important;
}

.margin-button2 {
	margin-top: 250px !important;
}

.card:hover .card-title {
	color: white;
}
.card:hover .card-text {
	color: white;
}
.card:hover .card-link {
	color: #fff;
}
.card:hover .card-link i {
	color: #fff;
}



@media only screen and (max-width: 515px) {
	.card--1 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.card--2 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.card--3 {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.hidediv {
	display: none;
}

.afab {
	font-size: 4em;
	color: var(--theme-color);
}

.cardInnerText {
	color: black;
}
.card:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -16px;
	right: -16px;
	background-color: var(--theme-color);
	height: 74px;
	width: 52px;
	border-radius: 32px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s ease-out;
	transition: -webkit-transform 0.25s ease-out;
	-o-transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.card:hover:before {
	-webkit-transform: scale(22);
	-ms-transform: scale(22);
	transform: scale(22);
}

.card {
	overflow: hidden;
	background-color: var(--box-clr);
}

.ct1 {
	letter-spacing: 1px;
}
.ct2 {
	letter-spacing: 2px;
}
.ct3 {
	letter-spacing: 0px;
}

.card-img-top {
	border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
	.card--3 {
		margin: auto;
	}
	.ct2 {
		letter-spacing: 1px;
	}
}
@media only screen and (max-width: 500px) {
	.col1 {
		width: 450px;
	}
	div.project-card {
		margin: 0px;
		margin-bottom: 20px;
	}
	.card-text{
		text-align: center;
	}
	.achievementCard .card-link{
		text-align: center;
	}
	.card-title{
		font-size:20px;
	}
}

.profile-image{
	max-width:100%;
	height:auto;
}