a.toggle-info {
  background: #131010;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #f46721;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s ease-out;
  transition: all 0.1s 0s ease-out;
}


div.achievement-card {
  margin: 70px auto;
  max-width: 1300px;
  text-align: center;
}

div.project-card {
  display: inline-block;
  margin: 20px;
  max-width: 300px;
  -webkit-perspective: 1000;
  perspective: 1000;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(73, 52, 52, 0.9);


}

div.project-card img {
  max-width: 300px;
}

div.project-card img {
  max-width: 300px;
} 

div.project-card .project-image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
  border-top: 4px solid #f46721;
}

div.project-card div.project-title {
  background: #f46721;
  padding: 8px 15px 10px;
  position: relative;
  z-index: 0;
}
div.project-card div.project-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}

div.project-card div.project-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
  color: white;
}
div.project-card div.project-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.project-card div.card-description {
  padding: 10px 15px 10px;
  background-color: #f3d3c4;
  text-align: justify;
  position: relative;
  font-size: 14px;
}
div.project-card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  background-color: #f3d3c4;
  padding: 10px 15px 20px;
  text-align: center;
}

div.project-card div.card-actions a {
    font-weight: bold;
    color: white;
    background-color: #f46721;
    border-radius: 10em;
  }

div.project-card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
div.project-card div.flap1 {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.project-card div.flap2 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.achievement-card.showing div.project-card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
   transform: scale(0.88);
}
.no-touch div.achievement-card.showing div.project-card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
div.project-card.show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;	  
}
div.project-card.show div.project-title a.toggle-info {
  background: #ff6666 !important;
}

div.project-card.show div.card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
div.project-card.show div.flap1 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
div.project-card.show div.flap2 {
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}

.container .card{
  position: relative;
  cursor: pointer;
  border: none;
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #FF8C00;
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content img{
  max-width: 100px;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

.achievementCard .card-link {
display: block;
text-align: right;
opacity: 0.6;
color: gray;
transition: all 0.3s ease;
}

.achievementCard .card-link > i {
font-size: 14px;
margin-left: 3px;
color: gray;
}
.achievementCard .card-link:hover{
color: black;
opacity: 1;
}
.achievementCard .card-link:hover i {
color: black;
opacity: 1;
}

.stat-items {
margin-top:2rem;
}

.margin-button {
	margin-top: 200px !important;
}

.margin-button2 {
	margin-top: 250px !important;
}

i.fa-chevron-down, i.fa-chevron-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px !important;
	color: var(--white) !important;
}
i.fa-chevron-up {
	transform: translate(-50%, -60%);
}

@media only screen and (max-width: 575px) {
    .card-content {
        padding-left:25px;
        padding-right:25px;
  }

}

@media only screen and (max-width: 515px) {

    .card--1 {
        padding-left:0px;
        padding-right:0px;
    }
    .card--2 {
        padding-left:0px;
        padding-right:0px;
    } 
    .card--2 {
        padding-left:0px;
        padding-right:0px;    
    }
    .card--3 {
        padding-left:0px;
        padding-right:0px;
    }

}   

.hidediv {
    visibility: hidden;
  }

.afab {
    font-size: 4em;
    color: #f47621;
  }


.cardInnerText {
    color:black;
  }
.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #f47621;
    height: 60px;
    width: 52px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
.card:hover:before {
    transform: scale(22);
  }

.card{
    overflow: hidden;
  } 
