html, body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.upcoming-events {
    padding-top: 10%;
}


  .announcement-item img {
    display: block;
    width: 100%;
  }
  
  .announcement-item a {
      display: flex;
      padding: 50px;
      overflow: hidden;
      align-items: center;
      max-width: 1000px;
      margin: auto;
      color: #333;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      border-radius: 6px;
      margin-bottom: 50px;
      text-decoration: none;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
      background-color: rgb(250, 250, 250);
  }
  
  .announcement-item .announcement-icon {
      width: 35%;
      margin-right: 50px;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
  }
  
  .announcement-item .announcement-content {
      width: 65%;
  }
  
  .announcement-item .announcement-content .announcement-title {
      font-size: 21px;
      text-transform: capitalize;
      color: #f47621;
      font-weight: 600;
      font-family: 'Lato', sans-serif;
  }

  .announcement-item .fa-map-marker {
      color: rgba(0, 0, 0, 0.527);
  }

  .announcement-item .fa-calendar {
      color: rgba(0, 0, 0, 0.527);
  }

  .announcement-item .icons {
      color: rgba(0, 0, 0, 0.527);  
      font-weight: 400;    
  }

  .announcement-btn {
      border: 2px solid #f47621;
      background-color: #f47521;
      color: white;
      font-weight: bold;
      transition: 0.6s;
      border-radius: 10em;
  }

  .announcement-btn:hover {
    background-color: #ffffff;
    color: #f47621;
    border: 2px solid #f47621;
    transition: 0.6s;
    font-weight: bold;
   }


/* CSS for card group */

#recent-image {
  height: 100%;
  width: 100%;
}

#recent-button2 {
  background-color: #f47621;
  border: 2px solid #f47621;
  color: white;
  font-weight: bold;
  transition: 0.6s;
  border-radius: 10em;
  padding: 10px;
}

#recent-button2:hover {
    background-color: #ffffff;
    color: #f47621;
    border: 2px solid #f47621;
    transition: 0.6s;
    font-weight: bold;
}

#recent-header{
    font-weight: bold;
    color: #f47621;
}

#card {
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
    padding: 5px;
    transition: 0.3s;
}

#card:hover {
  border: 2px solid #f47621;
  padding: 0px;
  transition: 0.3s;
}

#card p{
    color: rgba(0, 0, 0, 0.76);
}

.organize-item {
    text-align: center;
    display: flex;
    padding: 50px;
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    font-size: 16px;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 10px 50px 0 rgba(2, 2, 2, 0.2);
    background: linear-gradient(to right, #f09619d8, #ff522fd8);
}

.organize-content{
    width: 100%;
}

.organize-item .organize-content .organize-title {
    font-size: 35px;
    text-transform: capitalize;
    color: black;
    font-weight: 800;
}

.organize-btn {
    border: 2px solid #fc6a09;
    background-color: #fc6a09;
    color: white;
    font-weight: bold;
    transition: 0.6s;
    border-radius: 10em;
    letter-spacing: 1.5px;
    box-shadow: 0 0px 10px 0 rgba(221, 220, 220, 0.61);
}

.organize-btn:hover {
  background-color: #ffffff;
  color: #f47621;
  border: 2px solid #f47621;
  transition: 0.6s;
  font-weight: bold;
 }


