/* CSS FOR HEADING */

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#heading{
	color: #f47621;
	font-size: 110px;
	font-weight:  bold;
	text-shadow: 9px 9px black;
	
}

/* CSS FOR UPCOMING EVENTS SECTION */
.jumbotron{
	margin-left: 150px;
	margin-right: 30px;
}

.button{
	font-size:18px;
}


.events{
	font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size:40px;
	border-radius: 25px;
	padding: 10px;
}

#event1{
	color: black;
	font-size: 30px;
    font-family: Rockwell;
}

#event1:hover{
	color: #f47621; 
}

.text{
	font-size:17px;
	color:#f47621;
}

#in2{
	font-size:20px;
}

#button1{
	background-color: black;
	color:white;
	font-size:15px;
	font-family: Georgia;
	padding: 8px;
}

#button1:hover{
	color: black;
	background-color: white;
	border: 2px solid black;
}

/* CSS for card group */

#image{
	height:100%;
	width:100%;
}

#button2{
	background-color: #f47621;
	color:white;
	font-size:15px;
	font-family: Georgia;
	padding: 8px;
}

#button2:hover{
	color: #f47621;
	background-color: white;
	border: 2px solid #f47621;
}

#header{
	font-family: Rockwell;
}

#header:hover{
	color:  #f47621;
}

#card:hover{
	border: 2px solid #f47621;
}

.auto-container{
	z-index:1;
}

#title1{
	color:#f47621;
	text-align:center;
	font-family: Georgia;
	font-size:50px;
}
#title2{

	text-align:center;
	font-family: Arial;
	font-size:50px;

}

@media only screen and (max-width: 350px) {
	#title2{ 
		font-size : 43px;
	}
  }


#title3{
	color:grey;
	text-align:center;
	font-family: Georgia;
	font-size:30px;
}

#button3{
	background-color: black;
	color:white;
	font-size:15px;
	font-family: Georgia;
	padding: 20px;
	margin-left: 650px;
}

#button3:hover{
	color: black;
	background-color: white;
	border: 2px solid black;
}
div.columns{
    flex: 1;
}
 
div.columns:nth-of-type(2){
    flex: 4.59;
}
 
img.rounded-corners{
	border-radius: 30px;
}

h2{
	margin-left: 10%;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-image-width: 2px;
}
