@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	--bg-Card: rgb(250, 250, 250);
	--card-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
	--boxCard-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	--border: black;
	--box-shadow: 0 10px 25px rgba(240, 112, 0, 0.23), 0 6px 0px rgba(240, 112, 0, 0.5);
	--line-clr:#ff9f55;
	--line1-clr:#f47621;
	--br-clr: #000;
	--card-clr: #f47621;
	--time-border: #000;

}
html[data-theme='dark'] {
	--bg-Card: #202020;
	--card-shadow: 0 4px 8px 0 #fff;
	--boxCard-shadow: 0 2px 4px 0 #f47621;
	--border: #272727;
	--box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
	--line-clr: #272727;
	--line1-clr: rgb(245, 90, 43);
	--br-clr: #272727;
	--card-clr: rgb(245, 90, 43);
	--time-border: #fff;
}

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.upcoming-events {
	padding-top: 5%;
	background-color: var(--bg1-color);
}

.upcoming-events .container {
	margin-top: 20px;
}

.font-weight-bolder {
	letter-spacing: 1px;
}

.upcoming {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.upcoming span {
	font-weight: 300;
}

.timeline-container .card-stats {
	text-align: center;
	margin-bottom: 5px;
}

.event-part {
	color: #f47621;
	font-weight: 300;
	letter-spacing: 0px;
}

.recent-events {
	background-color: var(--bg1-color);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: var(--line-clr);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	border-radius: 300px;
}

.timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.timeline-container::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	right: -16px;
	background-color: var(--line-clr);
	border: 4px solid var(--line-clr);
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

.left::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent var(--line-clr);
}

.right::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent var(--line-clr) transparent transparent;
}

.right::after {
	left: -16px;
}

.timeline-content {
	padding: 20px 30px;
	background-color: var(--bg2-color);
	position: relative;
	border-radius: 6px;
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

.time {
	position: absolute;
	top: 2px;
	margin: 0;
	padding: 8px 16px;
	border: 1px solid var(--border);
	z-index: 5;
	border-radius: 18px;
	-webkit-transition: 300ms linear;
	-o-transition: 300ms linear;
	transition: 300ms linear;
	background-color: var(--box-clr);
}

@media screen and (min-width: 770px) {
	.time-1 {
		right: -220px;
	}

	.time-2 {
		left: -220px;
	}
}

.timeline-content p,
h3,
h5 {
	font-family: 'Quicksand', sans-serif;
}

/* Making Timeline Responsive */

@media screen and (max-width: 770px) {
	.timeline::after {
		left: 31px;
	}

	.timeline-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.timeline-container::before {
		left: 60px;
		border-width: 10px 10px 10px 0;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.left::before {
		border-width: 10px 10px 10px 0;
		border-color: transparent var(--line-clr) transparent transparent;
	}

	.right {
		left: 0%;
	}

	.time {
		border: none;
		position: relative;
		width: 175px;
		margin: 10px auto;
	}
	.time h5 {
		font-size: 20px;
	}
	.time-1 {
		right: 215px;
	}
	.time-2 {
		left: -215px;
	}
}
@media screen and (max-width: 760px){
	.time {
		border: 1px solid var(--time-border);
	}
}


@media screen and (max-width: 767px) {
	.time-1 {
		right: 125px;
	}
	.time-2 {
		left: -125px;
	}
}
@media screen and (max-width: 560px) {
	.time-1 {
		right: 0px;
	}
	.time-2 {
		left: 0px;
	}
}

@media screen and (max-width: 395px) {
	.time {
		position: relative;
		max-width: 95%;
		margin: 10px;
	}

	.timeline-content {
		padding: 7px 12px;
		position: relative;
	}

	.timeline-content h3 {
		font-size: 25px;
	}

	.timeline-content p {
		font-size: 15px;
	}

	.timeline-container {
		width: 100%;
		padding-left: 57px;
		padding-right: 5px;
		padding-bottom: 30px;
	}
}

/* CSS for card group */

.recent {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.recent span {
	font-weight: 300;
}

.card {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 300px;
	grid-template-columns: 300px;
	-ms-grid-rows: 210px 210px 80px;
	grid-template-rows: 210px 210px 80px;
	grid-template-areas: 'image' 'text' 'stats';
	border-radius: 18px;
	background: var(--bg-Card);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.rh1,
.rh2,
.rh3 {
	font-weight: 500;
	font-family: 'Comfortaa', sans-serif;
}

.card-image {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: image;
	grid-row: 1;
	grid-column: 1;
}

.card-text {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: text;
	grid-row: 2;
	grid-column: 1;
}

.card-stats {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: stats;
	grid-area: stats;
	padding-top: 20px;
	margin-top: 8px;
	grid-row: 3;
	grid-column: 1;
}

.card-image {
	grid-area: image;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.card-image img {
	height: 250px;
	width: 270px;
	border-radius: 10px;
	margin-top: 10px;
}

.card-text {
	grid-area: text;
	margin: 25px;
}

.card-text p {
	font-family: 'Quicksand', sans-serif;
	color: grey;
	font-size: 14.9px;
}

.card-text h2 {
	margin-top: 30px;
	font-size: 28px;
	color: var(--font-color);
}

.r-events-card:hover .card-text h2 {
	color: var(--white);
}
.r-events-card:hover .card-text p {
	color: var(--white);
}
.r-events-card:hover .card-stats {
	background-color: var(--box-clr);
}

.card:hover {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}
.card:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -16px;
	right: -16px;
	background:var(--card-clr);
	height: 52px;
	width: 52px;
	border-radius: 32px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s ease-out;
	transition: -webkit-transform 0.25s ease-out;
	-o-transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.card:hover:before {
	-webkit-transform: scale(22);
	-ms-transform: scale(22);
	transform: scale(22);
}

.card {
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	cursor: pointer;
	margin: 30px;
}

.card-btn {
	background: var(--theme-color);
	color: var(--btn-text);
	font-weight: bold;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	border-radius: 5px;
	box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
	letter-spacing: 0.2px;
	font-family: 'Comfortaa';
}

.card-btn:hover {
	box-shadow: var(--btn-shadow);
	-webkit-box-shadow: var(--btn-shadow);
	color: var(--btn-hover);
}

.rb1,
.rb2,
.rb3 {
	padding-top: 18px;
	font-family: 'Lato', sans-serif;
}

.line {
	background-color: var(--br-clr);
	border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.line1{
	margin-top: 0.5rem; 
	margin-bottom: 0.75rem; 
	background-color: var(--line1-clr);
}

.description {
	letter-spacing: 0.5px;
	color: var(--font-color);
}

@media only screen and (max-width: 340px) {
	.card-image img {
		margin-right: 2.5rem;
		margin-top: 5px;
		height: 240px;
		width: 250px;
	}

	.card-text {
		margin-right: 4rem;
		margin-top: 1rem;
	}

	.card-btn {
		padding-top: 10px;
	}
}
@media only screen and (max-width: 1199px) {
	.font-weight-bolder {
		text-align: center;
	}
	.timeline-content h3 {
		font-size: 24px;
		text-align: center;
	}
}
@media only screen and (max-width: 991px) {
	.timeline-content h3 {
		font-size: 20px;
	}
	.description {
		font-size: 15px;
	}
	.card-stats a {
		-webkit-transform: scale(0.85);
		-ms-transform: scale(0.85);
		transform: scale(0.85);
	}
	.time {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@media screen and (max-width: 396px) {
	.timeline-container::before {
		left: 46px;
	}
	.time {
		margin: auto;
	}
}

@media screen and (max-width: 403px) and (min-width: 396) {
	.timeline-container::before {
		left: 60px;
	}
}

@media only screen and (max-width: 340px) {
	.card-btn1 {
		margin: auto;
	}
}

@media only screen and (max-width: 340px) {
	.card-btn2 {
		margin-right: 45px;
	}
}
