html, body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.upcoming-events {
    padding-top: 10%;
}


  .announcement-item img {
    display: block;
    width: 100%;
  }
  
  .announcement-item a {
      display: flex;
      padding: 50px;
      overflow: hidden;
      align-items: center;
      max-width: 1000px;
      margin: auto;
      color: #333;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      border-radius: 6px;
      margin-bottom: 50px;
      text-decoration: none;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
      background-color: rgb(250, 250, 250);
  }
  
  .announcement-item .announcement-icon {
      width: 35%;
      margin-right: 50px;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
  }
  
  .announcement-item .announcement-content {
      width: 65%;
  }
  
  .announcement-item .announcement-content .announcement-title {
      font-size: 21px;
      text-transform: capitalize;
      color: #f47621;
      font-weight: 600;
      font-family: 'Lato', sans-serif;
  }

  .announcement-item .fa-map-marker {
      color: rgba(0, 0, 0, 0.527);
  }

  .announcement-item .fa-calendar {
      color: rgba(0, 0, 0, 0.527);
  }

  .announcement-item .icons {
      color: rgba(0, 0, 0, 0.527);  
      font-weight: 400;    
  }

  .announcement-btn {
      border: 2px solid #f47621;
      background-color: #f47521d3;
      color: white;
      font-weight: bold;
      transition: 0.6s;
      border-radius: 10em;
  }

  .announcement-btn:hover {
    background-color: #ffffff;
    color: #f47621;
    border: 2px solid #f47621;
    transition: 0.6s;
    font-weight: bold;
   }
