@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  --bg-Card:rgb(250,250,250);
  --card-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  --boxCard-shadow:5px 5px 15px rgba(0,0,0,0.9);
  --box-clr: #fff;
}
html[ data-theme="dark"] {
 --bg-Card:#202020;
 --card-shadow: 0 4px 8px 0 #fff;
 --boxCard-shadow: 0 4px 8px 0 #f47621;
 --box-clr: #202020;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.upcoming-events {
  padding-top: 10%;
  background-color: var(--bg1-color);
}

.upcoming-events .container{
  margin-top: 90px;
}

.font-weight-bolder {
  letter-spacing: 1px;
}

.upcoming {
  font-family: 'Montserrat', sans-serif;  
  font-weight: 500;
}

.upcoming span{
  font-weight: 300;
}

.event-part {
  color: #f47621;
  font-weight: 300;
  letter-spacing: 0px;
}

.recent-events{
  background-color: var(--bg1-color);
  margin-top: 70px;
}
.announcement-item img {
  display: block;
  width: 100%;
}

.announcement-card {
    display: flex;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #111111;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 10px 25px rgba(240, 112, 0, 0.23);
    cursor: pointer;
    background-color: var(--box-clr);
}

.event-body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--font-color);
}

.go-corner-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 33px;
  overflow: hidden;
  top: 65px;
  right: 70px;
  background-color: var(--theme-color);
  border-radius: 0 4px 0 32px;
  color: white;
}

.go-corner-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 33px;
  overflow: hidden;
  top: 470px;
  right: 70px;
  background-color: var(--theme-color);
  border-radius: 0 4px 0 32px;
  color: white;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: var(--font-color);
  font-family: courier;
  color: white;
}

.announcement-item .announcement-icon {
    width: 35%;
    margin-right: 50px;
    overflow: hidden;
}

.announcement-item .announcement-content {
    width: 65%;
}

.announcement-item .announcement-content .announcement-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #f47621;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
}

.announcement-item .fa-map-marker {
   color: var(--font-color);
}

.announcement-item .fa-calendar {
   color: var(--font-color);
}

.announcement-item .icons {
    color:  #111111;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.527);
    font-weight: 400; 
    color: var(--font-color);   
}

.announcement-btn {
    background-color: var(--theme-color);
    color: white;
    font-weight: bold;
    transition: 0.6s;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0px #ff9a0e;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 0.2px;
  }

.announcement-btn:hover {
  box-shadow: 0 7px 8px #ff9a0e;
   color: white;
   font-weight: bold;
 }

 .r-events-card:hover .card-text h2 {
	color: var(--white);
 }
 .r-events-card:hover .card-text p{
	 color: var(--white);
 }
 .r-events-card:hover .card-stats{
	 background-color: var(--box-clr);
 }

 @media only screen and (max-width: 768px) {

  .announcement-item img {
      width: 100%;
    }
  .announcement-item .announcement-icon {
      width: 100%;
      height: 200px;
      margin-right: 0px;
      display: inline-block;
  }

  .announcement-item .announcement-content {
      width: 100%;
      display: inline-block;
  }

  .announcement-card {
      display: inline-block;    
      align-items: center;
      max-width: 1000px;
      margin: auto;
      font-size: 16px;
      border-radius: 6px;
      margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .go-corner-1{
    right: 16px;
  }
  .go-corner-2{
    right: 16px;
    top: 470px;
  }
}

@media only screen and (max-width: 992px) {
  .go-corner-2{
    top: 496px;
  }
}

@media only screen and (max-width: 768px) {
  .go-corner-2{
    top: 705px;
  }
}

@media only screen and (max-width: 321px) {
  .go-corner-2{
    top: 825px;
  }
}

@media only screen and (max-width: 992px) {
  .upcoming-events .container{
      margin-top: 5rem;
  }
  .pt-5{
    margin-top: 1rem;
  }
}



/* CSS for card group */

.recent {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.recent span {
  font-weight: 300;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: var(--bg-Card);
  box-shadow: var(--boxCard-shadow);
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.rh1 ,.rh2 ,.rh3 {
  font-weight: 500;
  font-family: 'Comfortaa', sans-serif;
} 

.card-image {
  grid-area: image;
}

.card-stats {
  grid-area: stats;
  grid-area: stats; 
  padding-top: 20px;
  margin-top: 8px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-image img{
  height: 250px;
  width: 270px;
  border-radius: 10px;
  margin-top: 10px;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: grey;
  font-size: 14.9px;
}
.card-text h2 {
  margin-top: 30px;
  font-size: 28px;
  color: var(--font-color);
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #f47621;
  height: 52px;
  width: 52px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover:before {
  transform: scale(22);
}

.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}


.card-btn {
  background-color: #EF6F00;
  color: white;
  font-weight: bold;
  transition: 0.6s;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0px #ff9a0e;
  letter-spacing: 0.2px;
  font-family: 'Comfortaa';    
}

.card-btn:hover {
 box-shadow: 0 7px 8px #ff9a0e;
 color: white;
 font-weight: bold;
}

.rb1, .rb2, .rb3{
  padding-top: 18px;
  font-family: 'Lato', sans-serif;
}

.line{
  background-color: var(--heading-clr);
  border-top: 0.5px solid rgba(0,0,0,.1);
}

@media only screen and (max-width: 340px) {
  .card-image img{
    margin-right: 2.5rem;
    margin-top: 5px;
    height: 240px;
    width: 250px;
  }

  .card-text{
    margin-right: 4rem;
    margin-top: 1rem;
 }

  .card-btn{
    margin-right: 35px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1199px) {
  .font-weight-bolder {
    text-align: center;
}
}