html, body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*-----------------
Parallax section
-------------------*/
.blogparallax {
    background-image: url("https://www.gssoc.tech/images/0.jpg");
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.blogshadow {
    background: rgb(0, 0, 0,0.8);
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 400px;
    width: 100%;
    color: white;
    display: inline-block;
}

.blog-para {
    font-size: 3em;
    line-height: normal;
    margin-top: 200px;
    font-weight: bold;
}

@media only screen and (max-width: 468px) {
    .blog-para{
      font-size:2em;
    }
  }

/*----------------
Blog Cards
-----------------*/

.rtb-col h2{
    font-family: 'Raleway', sans-serif;
    color:  #f47621;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 30px;
    font-size: 1.5em;
}
  
.rtb-col h3{
    color: #f47621;
    padding-top: 30px;
    font-size: 1em;
}
 
.rtb-col p{
    color: black;
    font-size: 1em;
}

.rtb-col {
    position: relative;
    padding: 40px 50px 40px !important;
    margin-top: 20px;
    border: 1px solid rgb(230, 230, 230);
    /*margin: 0 3px !important;*/
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.rtb-col:hover, .rtb-col:focus, .rtb-col:active {
    position: relative;
    /*margin: 0 3px !important;*/
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.rtb-inline h1{
    font-size: 1.5em;
    font-weight: bold;
    color: #f47621;
}

.rtb-inline h3{
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 20px;
}

.rtb-inline p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.63);
}

.rtb-inline .container {
    border: 1px solid rgb(230, 230, 230);
    padding: 30px 0px;
}

.btn-read{
    margin-top: 30px;
    background-color: #f47621;
    color: white;
    border: 2px solid #f47621;
    border-radius: 10em;
    transition: 0.6s;
    font-weight: bold;
}

.btn-read:hover {
    background-color: #ffffff;
    color: #f47621;
    border: 2px solid #f47621;
    transition: 0.6s;
    font-weight: bold;
}

.blogs-social .fa-twitter{
    color: #f47621;
    opacity: 0.5;
    transition: 0.4s;
}

.blogs-social .fa-facebook{
    color: #f47621;
    opacity: 0.5;
    transition: 0.4s;
}

.blogs-social .fa-instagram{
    color: #f47621;
    opacity: 0.5;
    transition: 0.4s;
}

.blogs-social .fa-envelope{
    color: #f47621;
    opacity: 0.5;
    transition: 0.4s;
}

.blogs-social .fa-twitter:hover{
    opacity: 1;
    transition: 0.4s;
}

.blogs-social .fa-facebook:hover{
    opacity: 1;
    transition: 0.4s;
}

.blogs-social .fa-instagram:hover{
    opacity: 1;
    transition: 0.4s;
} 

.blogs-social .fa-envelope:hover{
    opacity: 1;
    transition: 0.4s;
}

