html, body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*----------------
Blog Cards
-----------------*/

.rtb-col h2{
    font-family: 'Raleway', sans-serif;
    color:  #f47621;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 30px;
    font-size: 1.5em;
}

.rtb-col h3{
    color: #f47621;
    padding-top: 30px;
    font-size: 1em;
}

.rtb-col p{
    color: black;
    font-size: 1em;
}

.rtb-col {
    position: relative;
    padding: 40px 50px 40px !important;
    margin-top: 20px;
    border: 1px solid rgb(230, 230, 230);
    /*margin: 0 3px !important;*/
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.rtb-col:hover, .rtb-col:focus, .rtb-col:active {
    position: relative;
    /*margin: 0 3px !important;*/
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.rtb-inline h1{
    font-size: 1.5em;
    font-weight: bold;
    color: #f47621;
}

.rtb-inline h3{
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 20px;
}

.rtb-inline p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.63);
}

.rtb-inline .container {
    border: 1px solid rgb(230, 230, 230);
    padding: 30px 0px;
}

#blogid{
    margin-top: 6rem;
    align-items: center;
    max-width: 700px;
}

.heading-blog{
    font-weight:bold;
    font-size:3rem;
}
.heading-blog span{
    color: #f47621;
    font-weight:light;
}

.blog-btn {
    margin-top: 30px;
    border: 2px solid #f47621;
    background: linear-gradient(to bottom right,#F09819,#E16831);;
    color: white;
    font-weight: bold;
    transition: 0.6s;
    border-radius: 10em;
    border: 2px solid linear-gradient(to bottom right,#F09819,#E16831);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
}

.blog-btn:hover {
  background: #ffffff;
  color: #f47621;
  border: 2px solid #f47621;
  transition: 0.6s;
  font-weight: bold;
 }