html, body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*-----------------
Parallax section
-------------------*/
.blogparallax {
    background-image: url("https://www.gssoc.tech/images/0.jpg");
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.blogshadow {
    background: rgb(0, 0, 0);
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
    height: 300px;
    width: 100%;
}

/*----------------
Blog Cards
-----------------*/

.blog-item img {
  display: block;
  width: 100%;
}

.blog-item a {
    display: flex;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item .blog-icon {
    width: 35%;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-item .blog-content {
    width: 65%;
}

.blog-item .blog-content .blog-title {
    font-size: 21px;
    text-transform: capitalize;
    color: #f47621;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.blog-item .blog-content .blog-rounded {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-item .blog-arrow {
    position: relative;
    text-align: center;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover > .blog-arrow {
    left: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-rounded {
    width: 70px;
    height: 5px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #f47621, #07070779);
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}



