@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    --section-bgColor: #fff;
    --blogCard-shadow: 0 5px 7px black;
    --rtbInline-shadow: 0 5px 7px black;
    --box-clr: #fff;

}

html[ data-theme="dark"] {
    --section-bgColor: #121212;
    --blogCard-shadow: 0 2px 4px 0 #f47621;
    --rtbInline-shadow: 0 5px 7px #f47621;
    --box-clr: #202020;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*----------------
Blog Cards
-----------------*/

.blogs-section{
    background-color: var(--section-bgColor);
}

.rtb-col h2{
    font-family: 'Comfortaa', sans-serif;
    color:  var(--theme-color);
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 30px;
    font-size: 1.3em;
    text-transform: capitalize;
}

.rtb-col .author {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: var(--font-color);
    letter-spacing: 0.5px;
}

.rtb-col h3{
    font-family: 'Quicksand', sans-serif;
    font-weight:500;
    color:var(--theme-color);
    padding-top: 30px;
    font-size: 1em;
    opacity: 0.9;
}

.rtb-col p{
    font-family: 'Quicksand', sans-serif;
    color: var(--font-color);
    font-size: 1em;
}

.rtb-col {
    background-color:var(--box-clr);
    position: relative;
    padding: 40px 50px 40px !important;
    margin-top: 10px;
    z-index: 1;
    box-shadow:var(--blogCard-shadow);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.rtb-col:hover, .rtb-col:focus, .rtb-col:active {
    position: relative;
    /*margin: 0 3px !important;*/
    z-index: 1;
    box-shadow: var(--blogCard-shadow);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.rtb-inline{
    box-shadow: var(--rtbInline-shadow);
}

.rtb-inline h1{
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--theme-color);
}

.rtb-inline .post-author {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #444;
    letter-spacing: 0.5px;
}

.rtb-inline h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 20px;
    color : var(--theme-color);
    opacity: 0.9;
}

.rtb-inline p{
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    color: black;
}

.rtb-inline .container {
    padding: 30px 0px;
    background-color: var(--bg-Card);
    color:black;

}

.rtb-inline hr {
    background-color: #888;
    margin-bottom: 2em;
    opacity: 0.2;
}

#blogid{
    margin-top: 6rem;
    align-items: center;
    max-width: 700px;
}

.blogs-social .fa-twitter,
.blogs-social .fa-facebook,
.blogs-social .fa-instagram,
.blogs-social .fa-envelope{
    color: var(--theme-color);
    opacity: 0.5;
    transition: 0.4s;
}

.blogs-social .fa-twitter:hover,
.blogs-social .fa-facebook:hover,
.blogs-social .fa-instagram:hover,
.blogs-social .fa-envelope:hover{
    opacity: 1;
    transition: 0.4s;
}


.heading-blog{
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 500;
    font-size:3.5rem;
}
.heading-blog span{
    color: var(--theme-color);
    font-weight:100;
}

.blog-btn {
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--btn-bg);
    color: white;
    font-weight: bold;
    transition: 0.6s;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0px #ff9a0e;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    width: 144px;
    letter-spacing: 0.5px;
}

.blog-btn:hover {
    box-shadow: 0 5px 8px #ff9a0e;
    color: white;
    font-weight: bold;
}

.post-date {
    border-radius: 5px;
}
   
@media only screen and (max-width : 430px){
    .heading-blog{
        font-weight:bold;
        font-size:2rem;
    }
    .heading-blog span{
        color: var(--theme-color);
        font-weight: 200;
    }
    .rtb-col {
        position: relative;
        padding: 30px 20px 30px !important;
        margin-left: 12px;
        margin-right: 12px;
        box-shadow: var(--rtbInline-shadow);
    }
}
@media only screen and (max-width : 992px){
    #blogid {
        margin-top: 0%;
    }
}
 