

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    --blogCard-shadow: 0 5px 7px black;
    --rtbInline-shadow: 0 5px 7px black;
    --box-clr: #fff;
    --postDate-color: #000;
    --postDate-bgColor: #fff;
}

html[ data-theme="dark"] {
    --blogCard-shadow: 0 2px 4px 0 #f47621;
    --rtbInline-shadow: 0 5px 7px #f47621;
    --box-clr: #202020;
    --postDate-color: #fff;
    --postDate-bgColor: #202020;

}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*----------------
Blog Cards
-----------------*/

.blogs-section{
    color: var(--font-color);
}

.rtb-col h2{
    font-family: 'Comfortaa', sans-serif;
    color:  var(--theme-color);
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 30px;
    font-size: 1.3em;
    text-transform: capitalize;
}

.rtb-col .author {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: var(--font-color);
    letter-spacing: 0.5px;
}

.rtb-col h3{
    font-family: 'Quicksand', sans-serif;
    font-weight:500;
    color:var(--theme-color);
    padding-top: 30px;
    font-size: 1em;
    opacity: 0.9;
}

.rtb-col p{
    font-family: 'Quicksand', sans-serif;
    color: var(--font-color);
    font-size: 1em;
}

.rtb-col {
    background-color:var(--box-clr);
    position: relative;
    padding: 40px 50px 40px !important;
    margin-top: 10px;
    z-index: 1;
    -webkit-box-shadow:var(--blogCard-shadow);
            box-shadow:var(--blogCard-shadow);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
       transition-timing-function: ease-out;
}

.rtb-col:hover, .rtb-col:focus, .rtb-col:active {
    position: relative;
    /*margin: 0 3px !important;*/
    z-index: 1;
    -webkit-box-shadow: var(--blogCard-shadow);
            box-shadow: var(--blogCard-shadow);
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
        transform: translateY(-8px);
}

.rtb-inline{
    -webkit-box-shadow: var(--rtbInline-shadow);
            box-shadow: var(--rtbInline-shadow);
}

.rtb-inline h1{
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--theme-color);
}

.rtb-inline .post-author {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:var(--font-theme);
    letter-spacing: 0.5px;
}

.rtb-inline h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 20px;
    color : var(--theme-color);
    opacity: 0.9;
}

.rtb-inline p{
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    color:var(--font-theme);
}

.rtb-inline .container {
    padding: 30px 0px;
    background-color: var(--box-clr);
    color:var(--font-theme);

}

.rtb-inline hr {
    background-color: #888;
    margin-bottom: 2em;
    opacity: 0.2;
}

#blogid{
    margin-top: 6rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 700px;
}

.blogs-social .fa-twitter,
.blogs-social .fa-facebook,
.blogs-social .fa-instagram,
.blogs-social .fa-envelope{
    color: var(--theme-color);
    opacity: 0.5;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.blogs-social .fa-twitter:hover,
.blogs-social .fa-facebook:hover,
.blogs-social .fa-instagram:hover,
.blogs-social .fa-envelope:hover{
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}


.heading-blog{
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-weight: 500;
    font-size:3.5rem;
}

@media only screen and (max-width : 992px){

    .heading-blog{
         margin-top:40px;
 }
}

.heading-blog span{
    color: var(--theme-color);
    font-weight:100;
}

.blog-btn {
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--btn-bg);
    color: white;
    font-weight: bold;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 7px 0px #ff9a0e;
            box-shadow: 0 2px 7px 0px #ff9a0e;
    margin: 1rem auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 144px;
    letter-spacing: 0.5px;
}

.blog-btn:hover {
    -webkit-box-shadow: 0 5px 8px #ff9a0e;
            box-shadow: 0 5px 8px #ff9a0e;
    color: white;
    font-weight: bold;
}

.post-date[data-v-6ad3d82e] {
    color: var(--postDate-color);
    background-color: var(--postDate-bgColor);
    border-radius: 5px;
    cursor: pointer;
}
   
@media only screen and (max-width : 430px){
    .heading-blog{
        font-weight:bold;
        font-size:2rem;
    }
    .heading-blog span{
        color: var(--theme-color);
        font-weight: 200;
    }
    .rtb-col {
        position: relative;
        padding: 30px 20px 30px !important;
        margin-left: 12px;
        margin-right: 12px;
        -webkit-box-shadow: var(--rtbInline-shadow);
                box-shadow: var(--rtbInline-shadow);
    }
}
@media only screen and (max-width : 992px){
    #blogid {
        margin-top: 0%;
    }
}
 
.rtb-pagination-container .row a.pager{
    border:none !important;
    margin-top: 10px !important;
    color: white !important;
}

.rtb-pagination-container .row .source-link a {
    color: var(--font-color) !important;
}

@media only screen and (max-width : 430px){
    .width1 {
        width:470px;
    }
    .width2 {
        width:450px;
    }
}    

@media only screen and (max-width : 900px){
   .row{
    padding:20px;
   }
}