html {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    --section-bgColor: #fff;
    --blogCard-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --rtbInline-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--bg1-color);
    --bg-Card:rgb(250,250,250);

}

html[ data-theme="dark"] {
    --section-bgColor: #333333;
    --blogCard-shadow: 2px 5px 10px 2px #fff;
    --rtbInline-shadow: 0 5px 10px #fff;
    background-color: var(--bg2-color);
    --bg-Card:#ebebeb;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/*----------------
Blog Cards
-----------------*/

.blogs-section{
    background-color: var(--section-bgColor);
}

.rtb-col h2{
    font-family: 'Raleway', sans-serif;
    color:  var(--theme-color);
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 30px;
    font-size: 1.5em;
}

.rtb-col h3{
    color:var(--theme-color);
    padding-top: 30px;
    font-size: 1em;
}

.rtb-col p{
    color: black;
    font-size: 1em;
}

.rtb-col {
    background-color:var(--bg-Card);
    position: relative;
    padding: 40px 50px 40px !important;
    margin-top: 20px;
    border: 1px solid rgb(230, 230, 230);
    /*margin: 0 3px !important;*/
    z-index: 1;
    box-shadow:var(--blogCard-shadow);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.rtb-col:hover, .rtb-col:focus, .rtb-col:active {
    position: relative;
    /*margin: 0 3px !important;*/
    z-index: 1;
    box-shadow: var(--blogCard-shadow);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.rtb-inline{
    box-shadow: var(--rtbInline-shadow);
}

.rtb-inline h1{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--theme-color);
}

.rtb-inline h3{
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 20px;
    color : var(--theme-color);
}

.rtb-inline p{
    text-align: justify;
    color: black;
}

.rtb-inline .container {
    padding: 30px 0px;
    background-color: var(--bg-Card);
    color:black;

}

.rtb-inline hr {
    background-color: black;
    margin-bottom: 2em;
}

#blogid{
    margin-top: 6rem;
    align-items: center;
    max-width: 700px;
}

.blogs-social .fa-twitter,
.blogs-social .fa-facebook,
.blogs-social .fa-instagram,
.blogs-social .fa-envelope{
    color: var(--theme-color);
    opacity: 0.5;
    transition: 0.4s;
}

.blogs-social .fa-twitter:hover,
.blogs-social .fa-facebook:hover,
.blogs-social .fa-instagram:hover,
.blogs-social .fa-envelope:hover{
    opacity: 1;
    transition: 0.4s;
}


.heading-blog{
    font-weight:bold;
    font-size:3rem;
}
.heading-blog span{
    color: var(--theme-color);
    font-weight:200;
}

.blog-btn {
    background-color: var(--btn-bg);
    color: white;
    font-weight: bold;
    transition: 0.6s;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0px #ff9a0e;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    width: 144px;
}

.blog-btn:hover {
    box-shadow: 0 5px 8px #ff9a0e;
    color: white;
    font-weight: bold;
}
   
@media only screen and (max-width : 430px){
    .heading-blog{
        font-weight:bold;
        font-size:2rem;
    }
    .heading-blog span{
        color: var(--theme-color);
        font-weight: 200;
    }
    .rtb-col {
        position: relative;
        padding: 30px 20px 30px !important;
        margin-left: 12px;
        margin-right: 12px;
        box-shadow: var(--rtbInline-shadow);
    }
}
@media only screen and (max-width : 992px){
    #blogid {
        margin-top: 0%;
    }
}
 