html, body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.main-section {
    padding: 10%;
    background-position: center;
    background-repeat: no-repeat;
	  background-size: cover;
    background-image: linear-gradient(to bottom right,
    rgba(0,0,0, 0.4),
    rgba(0, 0, 0, 0.5))
    ,url("../assets/Images/contact.jpg");
}

.contact-form {
    text-align: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.6s;
    background-color: var(--white);
    margin-left: 5rem; 
    border-radius: 10px;
}

.contact-form:hover {
  text-align: left;
  box-shadow: 0 5px 10px rgba(231, 85, 0, 0.836);
  transition: 0.6s;
}

.contact-form p {
    color: rgba(0, 0, 0, 0.644);
    letter-spacing: 1px;
}
  
.form-group {
  position: relative;
  margin-bottom: 2.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 6px 0 0 13px;
  transition: all 200ms;
  opacity: 0.7;
  color: #f47621;
}

.form-control:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 100%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  font-weight: bold;
  color: black;
}

.no-border{
  border: none;
  border-bottom: 2.5px solid black;
}

.no-border:focus{
  border: none;
  border-bottom: 2.5px solid #f47621;
  box-shadow: none;
  background-color: #f3f3f3;
}

#submit-button {
  background-color: #EF6F00;
  padding: 10px 23px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 4px 6px #ff9a0e;
  transition: 0.6s;
}

#submit-button:hover {
  box-shadow: 0 7px 30px #ff9a0e;
  color: white;
  font-weight: bold;
}

/* COMPACT CAPTCHA */

.capbox {
	background-color: #eb7d34;
	background-image: linear-gradient(#eb7d34, #eb7d34);
	border: #eb7d34 0px solid;
  border-radius: 4px;
	border-width: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 5px 8px 5px 8px;
	
	}

.capbox-inner {
	font: bold 12px arial, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px auto 0px auto;
	padding: 3px 10px 5px 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	}

#CaptchaDiv {
	color: #000000;
	font: normal 25px Impact, Charcoal, arial, sans-serif;
	font-style: italic;
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
	user-select: none;
	display: inline-block;
	padding: 3px 14px 3px 8px;
	margin-right: 4px;
	border-radius: 4px;
	}

#CaptchaInput {
	border: #295B00 1px solid;
	margin: 3px 0px 1px 0px;
	width: 105px;
  }
  

.side-sec{
  color: white;
  padding: 0.3rem;
  font-size: 20px;
}

.container-contact{
  display: flex;
  padding: 5rem;;
}
  
.def h4{
  color: #f47621;
  font-size: 1.5rem;
  font-weight: bold;
}

.def{
  padding: 2rem;
}

.def i{
  font-size: 40px;
  color: whitesmoke;

}

.def div{
  padding: .2rem;
}

.def-sec{
  margin-top: 1.5rem;
  padding-right: 1rem;
}

.font-weight-bold{
  text-align: center;
  padding-bottom: 1.5rem;;
}

/* Responsive Section */

@media only screen and (max-width: 994px) {

 .contact-form{
   margin-left: 0;
 }
 .container-contact{
   display: inline;
   padding: 0;
 }
 .def{
   padding: 1rem 0;
 }
 .contact-form h1{
   font-size: 2.1rem;
  }
}

@media only screen and (max-width: 358px){

 .capbox-inner{
   display: -webkit-box;
   margin: 3px auto 0 auto;
 }
 .capbox{
  margin-left: 2.5rem;
 }
 #CaptchaDiv{
  margin-left: 1.2rem;
 }
}

