html, body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.main-section {
    margin-top: 8%;
}

.contact-form {
    text-align: left;
}

.contact-form p {
    color: rgba(0, 0, 0, 0.644);
    letter-spacing: 1px;
}
  
.form-group {
  position: relative;
  margin-bottom: 2.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 6px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 100%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  font-weight: bold;
}

.no-border{
  border: none;
  border-bottom: 2.5px solid black;
}

.no-border:focus{
  border: none;
  border-bottom: 2.5px solid #f47621;
  box-shadow: none;
  background-color: #f3f3f3;
}

#submit-button {
  background-color: #f47621;
  padding: 10px 23px;
  border-radius: 4rem;
  text-transform: uppercase;
  border: 2px solid #f47621;
  outline: none;
  font-size: 1rem;
  color: white;
}

#submit-button:hover {
  background-color: white;
  color: #f47621;
  border: 2px solid #f47621;
}


