body{
    padding-top:0px;
    font-size:1.5em;
}

h2{
    font-size:32.8px;
}
header {
  position: relative;
  height: 500px;
  background-color: #f47621;
}

.container{
    margin: auto;
}

#heading{
    color:white;
    font-family: Georgia;
}
@media screen and (max-width: 523px) {
    #heading{
        font-size:60px;
    }
}
@media screen and (max-width: 447px) {
    #heading{
        font-size:50px;
    }
}
@media screen and (max-width: 382px) {
    #heading{
        font-size:38px;
    }
}
#para1{
    color:white;
    font-family: Georgia;
    font-size: 20px;
}

.event-page{
    border-left: 120px solid #f47621;
    border-right: 120px solid #f47621;
    border-bottom:120px solid #f47621;
}
@media screen and (min-width:988px) and (max-width: 1140px) {
    .event-page{
        border-left: 95px solid #f47621;
        border-right: 95px solid #f47621;
    }
}
@media screen and (max-width: 600px) {
    .event-page{
        border-left: 90px solid #f47621;
        border-right: 90px solid #f47621;
    }
}
@media screen and (max-width: 515px) {
    .event-page{
        border-left: 50px solid #f47621;
        border-right: 50px solid #f47621;
    }
}
@media screen and (max-width: 450px) {
    .event-page{
        border-left: 30px solid #f47621;
        border-right: 30px solid #f47621;
    }
}
/* About Section */

#about{
    margin:25px;
    font-size: 45px;
    font-family:Arial;
    font-weight: bold;
    color: #f47621;
    text-align: center;
   border-bottom: 1px dotted black;
}
@media screen and (max-width: 450px) {
    #about{
       font-size: 35px;
    }
}
#para{
    font-size:20px;
 
}
@media only screen and (min-width: 1250px) {
    .img-container{
        position:absolute;
        bottom: 80px;
        right:20px;
        height:70%;
        width:90%;

    }
  }
  @media only screen and (max-width: 1251px) {
    .img-container{
        height:90%;
        width:75%;
    }
    .text-container{
        padding:30px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .img-container{
        height:90%;
        width:85%;
    }
}
/* Schedule section */

.content{
    margin: 60px;
    padding: 20px;
}

@media only screen and (max-width: 920px) {
    .content{
        margin: 0 auto;
  }
}

#register{
    font-size: 30px;
    margin-top: 18px;
    color:white;
}
#time{
    font-size: 15px;
    margin-top:20px;
    color:white; 
}
#desc{
    font-size: 20px;
    margin-top:20px;
    color:white;
    font-style: italic;

}
#ques{
    margin-top: 50px;
    font-size:30px;
    margin-left: 20px;
}
#ans{
    margin-left:20px;
    font-size:20px;
}
.container-schedule {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0.4em;
}



 .featured-schedule-collection {
    margin-top: 5em;
    background: #313131;
    padding: 10px 15px 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.featured-schedule-collection > h2 {
    margin: 40px 0 50px 0;
    font-size: 1.8em;
    font-weight: 600; /* semi-bold */
    letter-spacing: 0.02em;
    width: 100%;
    text-align: center;
    background: none;
}

.featured-schedule-collection > h2 span {
    padding: 0.5em;
    background: #FFF;
    border-radius: 6px;
}

.featured-schedule {
    background-color: #FFFFFF;
    border-radius: 6px;
    min-height: 285px;
    position: relative;
    padding: 1em 1em 3.750em 1em;
    margin-bottom: 3em;
    padding-top: 0;
}

.featured-schedule > h3 {
    padding-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
    padding-top:1.002em;
}

.featured-schedule p {
    font-size: 1.11em;
    margin-top: 10px;
}


@media screen and (min-width:500px) {
    .featured-schedule-collection {
        margin-top: 4em;
    }
}

@media screen and (min-width:500px) and (max-width:800px){
    .featured-schedule {
        padding: 1em 1em 0.5em 1em;
    }
}

@media screen and (min-width:800px) and (max-width:1000px){
    .featured-schedule {
        padding: 1em 1em 0.1em 1em;
    }
}

@media screen and (min-width: 1000px) {
    .featured-schedule-collection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5em;
    }

    .featured-schedule {
        margin: 2.8em 2% 3.750em 2%;
        width: 28%;
    }
}
