header {
  position: relative;
  height: 500px;
  background-color: #f47621;
}

.container{
    margin: auto;
}

#heading{
    color:white;
    font-family: Georgia;
}

#para1{
    color:white;
    font-family: Georgia;
    font-size: 20px;
}

/* About Section */

#about{
    font-size: 45px;
    font-family:Arial;
    font-weight: bold;
    color: #f47621;
    text-align: center;
   border-bottom: 1px dotted black;
}

#para{
    font-size:20px;
 
}

/* Schedule section */

.schedule{
  background-color: black;
  border-radius:70px;
  padding: 50px;
  margin: 30px;
    border:3px solid black;

}
.schedule:hover{
  border:4px solid red;
}

.content{
    margin: 60px;
    padding: 20px;
}

@media only screen and (max-width: 920px) {
    .content{
        margin: 0 auto;
  }
}

#register{
    font-size: 30px;
    margin-top: 18px;
    color:white;
}
#time{
    font-size: 15px;
    margin-top:20px;
    color:white; 
}
#desc{
    font-size: 20px;
    margin-top:20px;
    color:white;
    font-style: italic;

}
#ques{
    margin-top: 50px;
    font-size:30px;
    margin-left: 20px;
    text-align: center;
}
#ans{
    text-align: center;
    margin-left: 20px;
    font-size:20px;
}

