html {
    --progress-bgcolor: rgb(247, 183, 109);
    --bg-color: #fff;
    --register-bgColor: #fff;
    --register-boxShadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    --registerClose-boxShadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
    --next-color: #f5511c;
    --next-hover: #333;
    --inputProgress-bgColor: #ff8e25;
    --wrongInputProgress-color: #ff2d26;
    --inputLabel-color: #9e9e9e;
    --input-bgColor: #fff;
    --h1font-color: #fff;
}

html[ data-theme="dark"] {
    --progress-bgcolor: #333333;
    --bg-color: #121212;
    --register-bgColor: #fff;
    --register-boxShadow: 0 4px 6px 1px rgba(245, 81, 28, 0.74), 0 2px 7px 1px rgba(245, 81, 28, 0.14), 0 2px 3px -3px rgba(245, 81, 28, 0.14);
    --registerClose-boxShadow: 0 8px 12px 1px rgba(245, 81, 28, 0);
    --next-color: #fff;
    --next-hover: #fff;
    --inputProgress-bgColor: rgb(245, 81, 28);
    --wrongInputProgress-color: #fff;
    --inputLabel-color: #fff;
    --input-bgColor: #333333;
    --h1font-color: #fff;
}

body {
    margin: 0;
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1 {
    position: relative;
    color: var(--h1font-color);
    opacity: 0;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
}

#progress {
    position: absolute;
    background-color: var(--progress-bgcolor);
    height: 100vh;
    width: 0;
    -webkit-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.center {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/******
  Form
 ******/

#register {
    background: var(--input-bgColor);
    position: relative;
    width: 410px;
    padding: 2px 15px 20px 15px;
    -webkit-box-shadow: var( --register-boxShadow);
    box-shadow: var( --register-boxShadow);
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: -webkit-transform .1s ease-in-out;
    -o-transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

#register.close {
    width: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    -webkit-box-shadow: var( --registerClose-boxShadow);
    box-shadow: var( --registerClose-boxShadow);
}

.next {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 40px;
    color: var(--next-color);
    float: right;
    cursor: pointer;
}

.next:hover {
    color: var(--next-hover);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.next:active {
    color: var( --next-hover);
}

.wrong .next {
    color: var(--wrongInputProgress-color);
}

.close .next {
    color: var(--bg-color);
}

#inputContainer {
    position: relative;
    opacity: 0;
    width: 350px;
    margin-top: 25px;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

#inputContainer input {
    width: 100%;
    padding: 0 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--inputLabel-color);
}

#inputLabel {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    color: var(--inputLabel-color);
}

#inputContainer input:valid+#inputLabel {
    top: -15px;
    font-size: 11px;
    font-weight: normal;
    color: var(--inputLabel-color);
}

#inputProgress {
    position: absolute;
    border-bottom: 2px solid var(--inputProgress-bgColor);
    padding: 3px 0;
    width: 0;
    -webkit-transition: width .6s ease-in-out;
    -o-transition: width .6s ease-in-out;
    transition: width .6s ease-in-out;
}

.wrong #inputProgress {
    border-color: var(--wrongInputProgress-color);
}


/* Responsive */

@media only screen and (max-width: 350px) {
    #register {
        width: 95%;
    }
    #inputContainer {
        margin-bottom: 10px;
    }
    #inputProgress {
        width: 65% !important;
    }
}

@media only screen and (max-width: 450px) and (min-width: 350px) {
    #register {
        width: 80%;
    }
    #inputProgress {
        width: 75% !important;
    }
    #inputContainer {
        margin-bottom: 10px;
    }
}