@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    font-family: 'Quicksand', sans-serif;
    color: #666;
    font-size: 16px;
    margin: 0; }
  
  input, textarea, select, button {
    font-family: 'Quicksand', sans-serif;
    color: #333;
    font-size: 13px; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a:hover {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; }
  
  .inner {
    min-width: 850px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 50px;
       
}
    .inner h3 {
      text-transform: uppercase;
      font-size: 32px;
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      margin-bottom: 32px;
      color: #333;
      letter-spacing: 2px; }
  
  form {
    width: 50%;
    padding-left: 45px; }
  
  .form-group {
    display: flex; }
    .form-group .form-wrapper {
      width: 50%; }
      .form-group .form-wrapper:first-child {
        margin-right: 20px; }
  
  .form-wrapper {
    margin-bottom: 17px; }
    .form-wrapper label {
      margin-bottom: 9px;
      display: block; }
  
  .form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: "Muli-Bold";
    background: none; }
    .form-control:focus {
      border: 1px solid #f46721; }
  
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px; }
    select option[value=""][disabled] {
      display: none; }
  
  button {
    border: none;
    width: 182px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #666;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    button:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f46721;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
  
  .checkbox {
    position: relative; }
    .checkbox label {
      padding-left: 22px;
      cursor: pointer; }
    .checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
    .checkbox input:checked ~ .checkmark:after {
      display: block; }
  
  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    font-size: 10px;
    font-weight: bolder; }
    .checkmark:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      content: '\f26b'; }
  
  @media (max-width: 991px) {
    .inner {
      min-width: 768px; } }
  @media (max-width: 767px) {
    .inner {
      min-width: auto;
      background: none;
      padding-top: 0;
      padding-bottom: 0; }
  
    form {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px; } }
  
  