html,
body {
  height: 100%;
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
  background-color: white;
  margin: 0;
  padding: 0;
}
:root {
  --theme-color: #f47621;
  --white-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
#typeit {
  font-size: 8vw;
  font-weight: bold;
  color: rgb(247, 95, 39);
}

.clr-wt {
  color: var(--white-color) !important;
}
.clr-theme {
  color: var(--theme-color) !important;
}
.fw-bold {
  font-weight: bold;
}
.fw-100 {
  font-weight: 100;
}
.fw-400 {
  font-weight: 400;
}
.bg-lgt-grey {
  background-color: #f5f5f5 !important;
}

.fs-17px {
  font-size: 17px;
}

/*-----------
Nav bar
---------------------*/

.navbar {
  background: linear-gradient(to right, #f09819, #ff512f);
  color: #fff !important;
  overflow: hidden;
  transition: 0.4s;
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}
.navbar a {
  color: white;
  font-weight: bold;
  font-size: 120%;
  font-family: "Raleway", sans-serif;
}
#logo {
  width: 80px;
  transition: 0.4s;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 1173px) {
  .nav-item {
    font-size: 0.944rem;
  }
}

@media only screen and (max-width: 1141px) {
  .nav-item {
    font-size: 0.887rem;
  }
}

@media only screen and (max-width: 1094px) {
  .nav-item {
    font-size: 0.838rem;
  }
}

@media only screen and (max-width: 1054px) {
  .nav-item {
    font-size: 0.768rem;
  }
}

@media only screen and (max-width: 998px) {
  .nav-item {
    font-size: 0.759rem;
  }
}
/*---------------------
  Header
-----------------------*/

.logo {
  padding: 24px 0 30px;
}

.logo a {
  display: inline-block;
}

.main-menu {
  text-align: right;
  padding: 30px;
}

.fa {
  text-decoration: none;
  color: blueviolet;
  font-size: 24px;
}

.main-menu ul li {
  display: inline-block;
  list-style: none;
  margin-left: 35px;
  position: relative;
}

.main-menu ul li .dropdown {
  position: absolute;
  width: 180px;
  background: #ffffff;
  z-index: 99;
  left: 0;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-menu ul li .dropdown li {
  display: block;
  margin-right: 0;
  text-align: left;
  margin-left: 0;
}

.main-menu ul li .dropdown li a {
  padding: 8px 20px;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
  color: #191919;
}

.main-menu ul li .dropdown li a:hover {
  color: #e32879;
}

.main-menu ul li.active a {
  color: #e32879;
}

.main-menu ul li:hover > a {
  color: #e32879;
}

.main-menu ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 70px;
}

.main-menu ul li a {
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  padding-top: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-menu a img {
  padding: 4px;
  width: 32px;
  height: 32px;
}

.slicknav_menu {
  display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero-section {
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hs-text span {
  color: #e32879;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.hs-text h2 {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hs-text p {
  color: #ffffff;
  margin-bottom: 45px;
  text-align: center;
  font-size: 40px;
}

/*---------------------
  About Us Section
-----------------------*/

.about-us-section {
  background-color: orangeOrange;
}

.section-title h2 {
  font-size: 40px;
  font-weight: bold;
  color: #e32879;
}

.as-pic img {
  min-width: 100%;
}

.as-text {
  padding-top: 80px;
  padding-left: 20px;
}

.as-text h2 {
  text-align: center;
}

.as-text.ap-text {
  padding-top: 14px;
}

.as-text .section-title {
  text-align: left;
  margin-bottom: 15px;
}

.as-text p {
  color: #b3b3b3;
}

.as-text p.f-para {
  margin-bottom: 10px;
}

.as-text p.s-para {
  margin-bottom: 37px;
}

.as-text .about-counter .ac-item {
  float: left;
  margin-right: 48px;
  position: relative;
}

.as-text .about-counter .ac-item:after {
  position: absolute;
  right: -20px;
  top: 8px;
  height: 65px;
  width: 1px;
  background: #393939;
  content: "";
}

.as-text .about-counter .ac-item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.as-text .about-counter .ac-item:last-child:after {
  display: none;
}

.as-text .about-counter .ac-item h2 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

.as-text .about-counter .ac-item p {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

/*---------------------
  Counter Section
-----------------------*/

.containersection {
  background-color: grey;
}

.counter-section {
  /* background: #191919; */
  padding-top: 755px;
  margin-top: -640px;
  padding-bottom: 70px;
}

.counter-text {
  margin-bottom: 40px;
}

.counter-text .section-title {
  text-align: left;
  margin-bottom: 50px;
}

.counter-item {
  margin-bottom: 30px;
  position: relative;
}

.counter-item .ci-number {
  font-size: 48px;
  color: #e32879;
  font-weight: 700;
  line-height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.counter-item .ci-text {
  padding-left: 150px;
}

.counter-item .ci-text h4 {
  font-size: 22px;
  color: black;
  font-weight: 700;
  margin-bottom: 12px;
}

/*-----------------
Parallax section
-------------------*/
.parallax1 {
  background-image: url("https://www.gssoc.tech/images/0.jpg");
  width: 100%;
  height: 40px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parashadow {
  background: white;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
  height: 40px;
  width: 100%;
}

/*------------------
  Particle-js Section
-------------------- */

#particle-js{
  overflow: hidden;
}
#particle-js canvas{
  position: absolute;
  height: 59.5%!important;
}

/*------------------
  Join Us Section
-------------------- */

.newsection {
  background-color: white;
  border-left: 12px solid var(--theme-color);
  border-right: 12px solid var(--theme-color);
}

/*---------------------
  Call To Section
-----------------------*/

.callto-section {
  background-color: #e32879;
  padding: 80px 0;
}

.ctc-text {
  text-align: center;
}

.ctc-text h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #191919;
}

.ctc-text p {
  margin-bottom: 45px;
}

/*---------------------
 Team Section
 ----------------------*/
.team-section {
  background: white;
  padding: 50px;
}

.team-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.team-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-card:hover .team-card-inner {
  transform: rotateY(180deg);
}

.team-card-front,
.team-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.team-card-back {
  transform: rotateY(180deg);
}

/*---------------------
  Footer
-----------------------*/

.footer-section {
  background: #191919;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-head h2 {
  letter-spacing: normal;
  margin: auto;
  display: block;
  color: #ff9933;
  text-align: center;
}

.footer-option {
  margin: auto;
  display: block;
  text-align: center;
}

.footer-option .fo-logo {
  margin-bottom: 30px;
}

.footer-option .fo-logo a {
  display: inline-block;
}

.footer-option ul {
  /* margin-bottom: 12px; */
  margin: auto;
  display: block;
}

.footer-option ul li {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}

.footer-option .fo-social a {
  margin: 310px auto;
  justify-content: space-around;
  display: inline;
  max-width: 700px;
  padding: 10px;
}

.fo-social a {
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: 0.4s all;
  line-height: 58px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 50%;
}

.footer-option .fo-social a:hover {
  background: #e32879;
  font-size: 45px;
}

.list-inline-item {
  padding: 10px;
}

.header {
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
  position: relative;
}
.d a:hover {
  background-color: #0e76a8;
}

.header::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.header-section {
  width: 100%;

  color: white;
  text-align: center;

  /*background-image: url("https://images.unsplash.com/photo-1502957291543-d85480254bf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");*/
  background-color: white;
}

.center-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.img-logo {
  height: 15rem;
}
.spread {
  background: linear-gradient(
    90deg,
    rgba(4, 175, 108, 1) 19%,
    rgba(14, 50, 224, 1) 92%
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.code:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* footer */
footer {
  background: #232323;
  padding: 20px 0;
  overflow-x: hidden;
}

.footer-logo {
  align-items: center;
}



.logo {
  width: 150px;
}

.social-media {
  margin-top: 3%;
  align-items: center;
}
.footer-h2 {
  margin-top: 2%;
  color: #c4c4c4;
}
.footer-h3 {
  margin-top: 2%;
  color: #c4c4c4;
}

.social-media a {
  color: white;
  margin-right: 25px;
  font-size: 26px;
  text-decoration: none;
}

.social-media a:hover {
  transition: 0.5s;
}

a.fa-instagram,
a.fa-twitter,
a.fa-github,
a.fa-linkedin {
  color: #f47521a6;
}

.fa-twitter:hover {
  color: #00acee;
}

.fa-instagram:hover {
  color: #fb39a4;
}

.fa-github:hover {
  color: #4c3372;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.btn-spl {
  border-radius: 10em;
  color: white;
  border-color: orangeOrange;
  width: 100px;
  height: 42px;
  border: 1.5px solid #f47621;
  transition: all 300ms ease-in;
}

.btn-spl:hover {
  background-color: orangeOrange;
  color: white;
  background: #f47621;
}

.right-col h1 {
  font-size: 26px;
}

.border {
  width: 280px;
  height: 3px;
  background: orangeOrange;
  color: orangeOrange;
  border-style: none !important;
  margin: 0 auto;
}
.footer-p {
  margin-top: 1%;
  color: #c4c4c4;
}
.footer-h {
  color: #c4c4c4;
  /* border-bottom: 2px solid orangeOrange; */
}

/* .newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
} */

.txtb {
  flex: 1;
  padding: 10px 32px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.txtb:focus.txtb:invalid {
  border: 3px solid orangeOrange;
}
.txtb:valid {
  border: 3px solid #f47621;
}

.page-content {
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*footer {
  background-color: orangeOrange;
}*/

.loc {
  background-image: url("https://toppng.com/uploads/preview/textuOrange-backgrounds-for-websites-1155398483840bc0kagkc.jpg") !important;
}

/*---------------------
  Achievements Style
-----------------------*/

.wrapper {
  text-align: center;
}

.button2 {
  border-radius: 15px;
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #84fab0 20%,
    #8fd3f4 51%,
    #84fab0 100%
  );
  color: black;
}

.btn-3:hover {
  border: 4px solid transparent;
}

.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(65, 232, 234, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(65, 132, 234, 0.75);
  transform: translateY(-10px);
  transition: all 0.2s ease-out;
}

.mt-5 h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  letter-spacing: normal;
}

.mt-5 button {
  margin: auto;
  display: block;
  color: white;
  background-color: #ff9933;
}

.card-title {
  text-align: center;
  color: #ff9933;
  font-weight: bold;
  letter-spacing: normal;
}

.card-text {
  text-align: justify;
  color: #e32879;
}

.ab out--part1 {
  opacity: 0;
}

.about--part1.animated {
  opacity: 1;
}

.stat {
  padding-bottom: 30px;
}

.stat-items h2 {
  font-weight: bold;
  font-size: 42px;
  color: darkorange;
  margin-top: 8px;
}
.stat-items p {
  font-weight: bold;
  letter-spacing: 1px;
}

/*---------------------
  Tiny Slider
-----------------------*/

.myslider {
  background-color: #e32879;
}

.myslider div {
  padding-bottom: 20px;
}

.myslider h2 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.slider {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider-item img {
  height: 150px;
  width: 150px;
}

.tns-controls {
  display: none;
}

li.tns-item {
  text-align: center;
}

/*---------------------
  Achievment Data
-----------------------*/
/*---------------------
  Overview
-----------------------*/

#overview {
  /* background-color: #e32879; */
  margin-top: 30px;
  text-align: center;
}

#overview p {
  /* margin-top: 10px; */
  padding: 30px;
  color: #e32879;
  text-align: justify;
}

#overview h3 {
  color: #e32879;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: normal;
}

/*---------------------
  Keynote
-----------------------*/

#key-note {
  text-align: center;
  margin: auto;
  display: block;
  padding: 40px;
  /* background-color: #ff9933; */
}

#key-note h3 {
  font-size: 40px;
  color: #ff9933;
  font-weight: bold;
  letter-spacing: normal;
}

#key-note p {
  text-align: justify;
  color: #ff9933;
  padding-top: 50px;
  font-size: 18px;
  margin: auto;
  display: block;
}

/*---------------------
  Location
-----------------------*/

.location {
  /* width: 350px; */
  height: 200px;
  margin: auto;
  display: block;
  text-align: center;
}

.location p {
  font-size: 16px;
}

.card-title {
  padding: 10px;
}

/*---------------------
  Event
-----------------------*/

#event {
  text-align: center;
  padding: 50px;
  /* background-color: #e32879; */
}

#event h4 {
  color: #e32879;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: normal;
}

#event p {
  color: black;
  text-align: justify;
  padding-top: 20px;
  margin: auto;
  display: block;
}

section.module.parallax-spl {
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-image: url("https://images.unsplash.com/photo-1502957291543-d85480254bf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"); */
}

/*---------------------
 Initiatives Section
 ----------------------*/
.program-section {
  background: white;
  padding: 30px;
  perspective: 700px;
}

@media screen and (max-width: 1024px) {
  .center-div {
    top: 30%;
  }
  section.module.parallax-spl {
    height: 55vh;
  }
}
@media screen and (max-width: 770px) {
  .center-div h1 {
    font-size: 40px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .vertical {
    display: hidden;
  }
}
@media screen and (max-width: 600px) {
  section.module.parallax-spl {
    height: 70vh;
  }
  .center-div {
    top: 40%;
  }

  .section-title h2 {
    line-height: 1.5em;
    text-align: center;
  }
  .counter-text .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .vertical {
    left: 8%;
    margin-top: 45%;
    height: 352px;
  }

  .border {
    margin-left: 19%;
  }
}

/*-----------------
  Achievements
  -------------------*/

.atitle h2 {
  font-size: 4vw;
  color: black;
}

.vertical {
  border-left: 6px solid #f47621;
  height: 280px;
  position: absolute;
  left: 45%;
}

.counter-item .ci-number {
  font-size: 46px;
  color: black;
  font-weight: 700;
  line-height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.counter-item .ci-text h4 {
  font-size: 22px;
  color: black;
  font-weight: 700;
  margin-bottom: 12px;
}

html {
  scroll-behavior: smooth;
}

/*.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background:#f58584;
  bottom: 40px;
  right: 50px;
  border-radius: 34px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
*/

html {
  scroll-behavior: smooth;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #f9690e;
  bottom: 40px;
  right: 50px;
  border-radius: 34px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  z-index: 999;
  font-size: 22px;
}
@media only screen and (max-width: 464px) {
  .gotopbtn {
    bottom: 20px;
    right: 15px;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
ul.navbar-nav a:hover {
  color: black;
}
a.active {
  color: black !important;
  font-weight: 800 !important;
}

@media only screen and (max-width: 992px) {
  .program-section {
    background: white;
    padding: 20px;
    perspective: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .program-section {
    background: white;
    padding: 30px;
    perspective: 700px;
  }
}
@media only screen and (min-width: 993px) {

  .joinbox {
    position: relative;
  }
  .joinimage {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 8px 8px 8px grey;
    margin: 40px;
  }
  .joinoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f47621;
    overflow: hidden;
    width: 250px;
    height: 250px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 50%;
    margin-left: 40px;
  }
  .joinbox:hover .joinoverlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .jointext {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .jointext a {
    color: white;
    text-decoration: none;
  }
  .jointext a:hover {
    opacity: 0.7;
  }
}
@media only screen and (max-width: 576px) {
  .joinbox {
    position: relative;
  }
  .mycon {
    padding-right: 20px;
    padding-left: 0px;
  }
  .joinimage {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 8px 8px 8px grey;
    margin-right: 400px;
  }
  .joinoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f47621;
    overflow: hidden;
    width: 200px;
    height: 200px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 50%;
  }
  .joinbox:hover .joinoverlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .jointext {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .jointext a {
    color: white;
    text-decoration: none;
  }
  .jointext a:hover {
    opacity: 0.7;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .joinbox {
    position: relative;
  }
  .joinimage {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 8px 8px 8px grey;
    margin-left: 20px;
  }
  .joinoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f47621;
    overflow: hidden;
    width: 120px;
    height: 120px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 50%;
    margin-left: 20px;
  }
  .joinbox:hover .joinoverlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .jointext {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .jointext a {
    color: white;
    text-decoration: none;
  }
  .jointext a:hover {
    opacity: 0.7;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .joinbox {
    position: relative;
  }
  .joinimage {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 8px 8px 8px grey;
    margin-left: 20px;
  }
  .joinoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f47621;
    overflow: hidden;
    width: 180px;
    height: 180px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 50%;
    margin-left: 20px;
  }
  .joinbox:hover .joinoverlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .jointext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .jointext a {
    color: white;
    text-decoration: none;
  }
  .jointext a:hover {
    opacity: 0.7;
  }
}

/*-------------*/
.material-card {
  position: relative;
  height: 0;
  padding-bottom: calc(100% - 16px);
  margin-bottom: 6.6em;
}

.material-card h2 {
  position: absolute;
  top: calc(100% - 16px);
  left: 0;
  width: 100%;
  padding: 10px 16px;
  color: #fff;
  font-size: 1.4em;
  line-height: 1.6em;
  margin: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card h2 span {
  display: block;
}
.material-card h2 strong {
  font-weight: 400;
  display: block;
  font-size: 0.8em;
}
.material-card h2:before,
.material-card h2:after {
  content: " ";
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card h2:after {
  top: auto;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .material-card.mc-active {
    padding-bottom: 0;
    height: auto;
  }
}
.material-card.mc-active h2 {
  top: 0;
  padding: 10px 16px 10px 90px;
}
.material-card.mc-active h2:before {
  top: 0;
}
.material-card.mc-active h2:after {
  bottom: -16px;
}
.material-card .mc-content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 16px;
  left: 16px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card .mc-btn-action {
  position: absolute;
  right: 16px;
  top: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid;
  width: 54px;
  height: 54px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.material-card .mc-btn-action > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 540px) {
  .material-card .mc-btn-action {
    right: 0px;
    top: 29px;
    width: 45px;
    height: 47px;
    line-height: 40px;
  }
}

.material-card.mc-active .mc-btn-action {
  top: 62px;
}
.material-card .mc-description {
  position: absolute;
  top: 100%;
  right: 30px;
  left: 30px;
  bottom: 54px;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}
.material-card .mc-footer {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.material-card .mc-footer a:nth-child(1) {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.material-card .img-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.material-card.mc-active .img-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  top: 12px;
  width: 60px;
  height: 60px;
  z-index: 20;
}
.material-card.mc-active .mc-content {
  padding-top: 5.6em;
}
@media screen and (max-width: 767px) {
  .material-card.mc-active .mc-content {
    position: relative;
    margin-right: 16px;
  }
}
.material-card.mc-active .mc-description {
  top: 50px;
  padding-top: 5.6em;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media screen and (max-width: 767px) {
  .material-card.mc-active .mc-description {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    padding: 50px 30px 70px 30px;
    bottom: 0;
  }
}
.material-card.mc-active .mc-footer {
  overflow: visible;
  position: absolute;
  top: calc(100% - 16px);
  left: 16px;
  right: 0;
  height: 82px;
  padding-top: 15px;
  padding-left: 25px;
}
.material-card.mc-active .mc-footer a {
  top: 0;
}
.material-card.mc-active .mc-footer h4 {
  top: -32px;
}

.material-card.Orange h2:after {
  border-top-color: #f47621;
  border-right-color: #f47621;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.material-card.Orange h2:before {
  border-top-color: transparent;
  border-right-color: #f47621;
  border-bottom-color: #f47621;
  border-left-color: transparent;
}
.material-card.Orange.mc-active h2:before {
  border-top-color: transparent;
  border-right-color: #f47621;
  border-bottom-color: #f47621;
  border-left-color: transparent;
}
.material-card.Orange.mc-active h2:after {
  border-top-color: #f47621;
  border-right-color: #f47621;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.material-card.Orange .mc-btn-action {
  background-color: #f47621;
}
.material-card.Orange .mc-btn-action:hover {
  background-color: #f47621;
}
.material-card.Orange .mc-footer h4 {
  color: #f47621;
}

.material-card.Orange.mc-active .mc-content {
  background-color: #ffebee;
}
.material-card.Orange.mc-active .mc-footer {
  background-color: #ffcdd2;
}
.material-card.Orange.mc-active .mc-btn-action {
  border-color: #ffebee;
}

.material-card.Orange h2 {
  background-color: #f47621;
}
.material-card.Orange h2:after {
  border-top-color: #f47621;
  border-right-color: #f47621;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.material-card.Orange h2:before {
  border-top-color: transparent;
  border-right-color: #f47621;
  border-bottom-color: #f47621;
  border-left-color: transparent;
}
.material-card.Orange.mc-active h2:before {
  border-top-color: transparent;
  border-right-color: #f47621;
  border-bottom-color: #f47621;
  border-left-color: transparent;
}
.material-card.Orange.mc-active h2:after {
  border-top-color: #f47621;
  border-right-color: #f47621;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.material-card.Orange .mc-btn-action {
  background-color: #f47621;
}
.material-card.Orange .mc-btn-action:hover {
  background-color: #f47621;
}
.material-card.Orange .mc-footer h4 {
  color: #f47621;
}
.material-card.Orange.mc-active .mc-content {
  background-color: #fff3e0;
}
.material-card.Orange.mc-active .mc-footer {
  background-color: #ffe0b2;
}
.material-card.Orange.mc-active .mc-btn-action {
  border-color: #fff3e0;
}

.center-btn-settings {
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #ff9933;
  color: white;
  border: 2px solid #ff9933;
  margin: 0 auto;
  display: block;
}
.center-btn-settings:hover {
  color: #111111;
  background-color: white;
  border: 2px solid black;
}
.center-btn-settings2 {
  background-color: #f47621 !important;
  color: white !important;
}

.center-btn-settings2:hover {
  color: #f47621 !important;
  background-color: white !important;
  border: 2px solid #f47621 !important;
}

.prodisplay {
  display: none;
}



/*----Feature Cards Section -------*/
.feature-cards {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 872px) {
  .feature-cards {
    flex-direction: column;
  }
}
.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.circle.effect .img {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  width: auto;
  height: auto;
}
.ih-item.circle.effect .img:before {
  display: none;
}
.ih-item.circle.effect1.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect .info {
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect .info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 40px 22px 0 30px;
  padding: 55px 0 0 0;
  height: 120px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ih-item.circle.effect a:hover .info {
  opacity: 1;
}

/*------Initiatives Section--------*/

.initiatives-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
  max-width: 1140px;
}

.upper,
.lower {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 50%;
}
.flip-card {
  width: 13rem;
  height: 13rem;
  perspective: 62.5rem;
  cursor: pointer;
}

.flip-card-content {
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-front {
  width: 13rem;
  height: 13rem;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-head {
  color: #f47621;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 1rem;
}

.flip-card-head span {
  display: block;
}

.flip-card-img {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.flip-img {
  width: 100%;
  height: 100%;
  text-align: center;
}

.flip-card-back {
  width: 13rem;
  height: 13rem;
  padding: 0.5rem 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #f47621;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (hover: none) and (pointer: coarse) {
  .initiatives-cards {
    margin-bottom: 18rem;
  }
  
  .flip-card {
    perspective: 0;
  }
  .flip-card-content {
    position: static;
  }

  .flip-card-front {
    position: static;
  }

  .flip-card-back {
    position: static;
    transform: rotateY(0deg);
  }

  .flip-card:hover .flip-card-content {
    display: block;
  }
}

.flip-card-detail {
  font-size: 0.9rem;
}

.flip-card:hover .flip-card-content {
  transform: rotateY(180deg);
}

@media only screen and (hover: none) and (pointer: coarse) {
  .flip-card:hover .flip-card-content {
    transform: rotateY(0deg);
  }
}

@media only screen and (max-width: 1014px) {
  .initiatives-cards {
    max-width: 90%;
    margin: 0 auto;
  }

  .upper,
  .lower {
    flex-direction: column;
  }

  .flip-card {
    margin: 1rem 0rem;
  }
}

@media only screen and (max-width: 632px) {
  .initiatives-cards {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1017px) and (hover: none) and (pointer: coarse) {
  .upper {
    align-content: flex-start;
  }
  .lower {
    margin-bottom: 2rem;
    align-content: flex-start;
  }

  .flip-card {
    margin-bottom: 16rem;
  }
}

/*  Styling */

#slider,
.wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  transition: background-image ease-in-out 2s;
}

.slide1 {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/Images/slider_image.jpg");
}
.slide2 {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/Images/event2.jpeg");
}
.slide3 {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/Images/event3.jpeg");
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 15px 20px 15px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

.carousel-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}


.carousel-inner{
  min-height:100vh;
}

.carousel-item{
  min-height:100vh;
  
}
.carousel-item img{
  min-height:100vh;
  
}

.carousel-inner{
  min-height:110vh;
  
}

#carouselExampleIndicators{
  min-height:90vh;
  position: relative;
  
} 

.carousel-control-prev{
  position:absolute;
  top:25%;
  left:0%;
}

.carousel-control-next{
  position:absolute;
  top:25%;
  right:0%;
}

.main-head {
  color: #fff;
  text-align: center;
  margin: 1rem;
  font-size: 4rem;
}

.sub-head {
  color: #f47621;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

/* Media Queries for carousel */
@media only screen and (max-width: 871px) {
  .carousel-content {
    padding: 3rem;
  }
  .main-head {
    font-size: 3.4rem;
  }
  .sub-head {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 753px) {
  .carousel-content {
    padding: 2rem;
  }
  .main-head {
    font-size: 3rem;
  }
  .sub-head {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 429px) {
  .carousel-content {
    padding: 3rem 2rem;
  }
  .main-head {
    font-size: 2rem;
  }
  .sub-head {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .arrow {
    top: 50%;
    margin-top: -45px;
  }
}

@media only screen and (max-width: 420px) {
  .carousel-content {
    padding: 2rem 1rem;
    width: 90%;
  }

  .arrow {
    display: none;
  }

  .main-head {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 766px) {
  #footer-c {
    align-items: center;
    text-align: center;
  }
}


.carousel slide{
  min-height:100vh;

}



@media  (max-width:872px){
  #carouselExampleIndicators{
    display:none;
  }

  .fallback{
    min-height:100vh;
    background:url("../assets/Images/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
}

