html,
body {
  height: 100%;
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
#typeit{
  font-size: 8vw;
  font-weight: bold;
  color: rgb(247, 95, 39);
}

/*-------------------
About 
--------------------*/
.about{
  background-color: #F5F5F5;
}

/*-----------
Nav bar
---------------------*/
.navbar {
  background-color: #f47621 !important;
  color: #fff !important;
}
.navbar a{
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}
/*---------------------
  Header
-----------------------*/

.logo {
  padding: 24px 0 30px;
}

.logo a {
  display: inline-block;
}

.main-menu {
  text-align: right;
  padding:30px;
}

.fa {
  text-decoration: none;
  color: blueviolet;
  font-size: 24px;
}

.main-menu ul li {
  display: inline-block;
  list-style: none;
  margin-left: 35px;
  position: relative;
}

.main-menu ul li .dropdown {
  position: absolute;
  width: 180px;
  background: #ffffff;
  z-index: 99;
  left: 0;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-menu ul li .dropdown li {
  display: block;
  margin-right: 0;
  text-align: left;
  margin-left: 0;
}

.main-menu ul li .dropdown li a {
  padding: 8px 20px;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
  color: #191919;
}

.main-menu ul li .dropdown li a:hover {
  color: #e32879;
}

.main-menu ul li.active a {
  color: #e32879;
}

.main-menu ul li:hover > a {
  color: #e32879;
}

.main-menu ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 70px;
}

.main-menu ul li a {
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  padding-top: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-menu a img {
  padding: 4px;
  width: 32px;
  height: 32px;
}

.slicknav_menu {
  display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero-section {
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hs-text span {
  color: #e32879;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.hs-text h2 {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hs-text p {
  color: #ffffff;
  margin-bottom: 45px;
  text-align: center;
  font-size: 40px;
}

/*---------------------
  About Us Section
-----------------------*/

.about-us-section {
  background-color: orangered;
}

.section-title h2 {
  font-size: 40px;
  font-weight: bold;
  color: #e32879;
}

.as-pic img {
  min-width: 100%;
}

.as-text {
  padding-top: 80px;
  padding-left: 20px;
}

.as-text h2 {
  text-align: center;
}

.as-text.ap-text {
  padding-top: 14px;
}

.as-text .section-title {
  text-align: left;
  margin-bottom: 15px;
}

.as-text p {
  color: #b3b3b3;
}

.as-text p.f-para {
  margin-bottom: 10px;
}

.as-text p.s-para {
  margin-bottom: 37px;
}

.as-text .about-counter .ac-item {
  float: left;
  margin-right: 48px;
  position: relative;
}

.as-text .about-counter .ac-item:after {
  position: absolute;
  right: -20px;
  top: 8px;
  height: 65px;
  width: 1px;
  background: #393939;
  content: "";
}

.as-text .about-counter .ac-item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.as-text .about-counter .ac-item:last-child:after {
  display: none;
}

.as-text .about-counter .ac-item h2 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

.as-text .about-counter .ac-item p {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

/*---------------------
  Counter Section
-----------------------*/

.containersection {
  background-color: grey;
}

.counter-section {
  /* background: #191919; */
  padding-top: 755px;
  margin-top: -640px;
  padding-bottom: 70px;
}

.counter-text {
  margin-bottom: 40px;
}

.counter-text .section-title {
  text-align: left;
  margin-bottom: 50px;
}

.counter-item {
  margin-bottom: 30px;
  position: relative;
}

.counter-item .ci-number {
  font-size: 48px;
  color: #e32879;
  font-weight: 700;
  line-height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.counter-item .ci-text {
  padding-left: 170px;
}

.counter-item .ci-text h4 {
  font-size: 22px;
  color: black;
  font-weight: 700;
  margin-bottom: 12px;
}

/*-----------------
Parallax section
-------------------*/
.parallax1 {
  background-image: url("https://www.gssoc.tech/images/0.jpg");
  width: 100%;
  height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.parashadow{
  background: white;
  position: relative;
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 opacity: 0.4;
 height: 400px;
 width: 100%;
}

/*------------------
  Join Us Section
-------------------- */

.newsection{
  background-color: white;
}

.joinbtn{
  padding: 18px 40px;
  font-size: 16px;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  background-color: rgb(37, 37, 37);
  color: white;
}

.joinbtn:hover{
  color: #111111;
  background-color: white;
  border: 2px solid black;
}

.joinbox {
  position: relative;

}

.joinimage {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 8px 8px 8px grey;
}

.joinoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f47621;
  overflow: hidden;
  width: 250px;
  height: 250px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 50%;
}

.joinbox:hover .joinoverlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.jointext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.jointext a{
  color:white;
  text-decoration: none;
}

.jointext a:hover{
  opacity: 0.7;
}

/*----------------------*/

/*---------------------
  Call To Section
-----------------------*/

.callto-section {
  background-color: #e32879;
  padding: 80px 0;
}

.ctc-text {
  text-align: center;
}

.ctc-text h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #191919;
}

.ctc-text p {
  margin-bottom: 45px;
}


/*---------------------
 Team Section
 ----------------------*/
 .team-section {
	background:white;
	padding: 50px;
}	

 .team-card {
	background-color: transparent;
	width: 300px;
	height: 400px;
	perspective: 1000px;
  }

  .team-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .team-card:hover .team-card-inner {
	transform: rotateY(180deg);
  }

  .team-card-front, .team-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }

  .team-card-back {
	transform: rotateY(180deg);
  }

/*---------------------
  Footer
-----------------------*/

.footer-section {
  background: #191919;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-head h2 {
  letter-spacing: normal;
  margin: auto;
  display: block;
  color: #ff9933;
  text-align: center;
}

.footer-option {
  margin: auto;
  display: block;
  text-align: center;
}

.footer-option .fo-logo {
  margin-bottom: 30px;
}

.footer-option .fo-logo a {
  display: inline-block;
}

.footer-option ul {
  /* margin-bottom: 12px; */
  margin: auto;
  display: block;
}

.footer-option ul li {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}

.footer-option .fo-social a {
  margin: 310px auto;
  justify-content: space-around;
  display: inline;
  max-width: 700px;
  padding: 10px;
}

.fo-social a {
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: 0.4s all;
  line-height: 58px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 50%;
}


.footer-option .fo-social a:hover {
  background: #e32879;
  font-size: 45px;
}

.list-inline-item {
  padding: 10px;
}

.header {
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
  position: relative;

}
.d a:hover{
	background-color:#0e76a8 ;

}

.header::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}


.header-section {
  width: 100%;

  color: white;
  text-align: center;
 
  /*background-image: url("https://images.unsplash.com/photo-1502957291543-d85480254bf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");*/
  background-color: white;
}

.center-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.img-logo {
  height: 15rem;
}
.spread {
  background: linear-gradient(
    90deg,
    rgba(4, 175, 108, 1) 19%,
    rgba(14, 50, 224, 1) 92%
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.code:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

footer{
  background: #232323;
  padding: 70px 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.social-media{
margin-top: 5%;;

}
.footer-h2{
  margin-top: 2%;
 color: #c4c4c4;
}
.footer-h3{
  margin-top: 2%;
  color: #c4c4c4;
}

.social-media a{
  color:white;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  
}

.social-media a:hover{
  color: orangered;
  font-size: 26px;

}
.fa-twitter a:hover{
  color: #fc5c65;
  font-size: 26px;

}

.btn-spl {
  border-radius: 10em;
  color: white;
  border-color: orangered;
  margin: 1rem;width: 150px;
  height: 40px;

 }

.right-col h1{
  font-size: 26px;
}


.border{
  width: 200px;
  height: 5px;
  background: orangered;
  color: orangered;
 border-style: none !important;
}
.footer-p{
  margin-top: 1%;
}
.footer-h{
  color: #c4c4c4;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*footer {
  background-color: orangered;
}*/


.loc {
  background-image: url("https://toppng.com/uploads/preview/textured-backgrounds-for-websites-1155398483840bc0kagkc.jpg") !important;
}

/*---------------------
  Achievements Style
-----------------------*/

.wrapper {
  text-align: center;
}

.button2 {
  border-radius: 15px;
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #84fab0 20%,
    #8fd3f4 51%,
    #84fab0 100%
  );
  color: black;
}

.btn-3:hover {
  border: 4px solid transparent;
}


.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(65, 232, 234, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(65, 132, 234, 0.75);
  transform: translateY(-10px);
  transition: all 0.2s ease-out;
}

.mt-5 h2{
  text-align: center;
  color: #ff9933;
  padding-bottom: 20px;
  font-weight: bold;
  letter-spacing: normal;
}

.mt-5 button{
  margin: auto;
  display: block;
  color: white;
  background-color:#ff9933 ;
}

.card-title{
  text-align: center;
  color:#ff9933;
  font-weight: bold;
  letter-spacing: normal;
}

.card-text{
  text-align: justify;
  color: #e32879;
}

.ab
out--part1 {
  opacity: 0;
}

.about--part1.animated {
    opacity: 1;
}

.stat {
  padding-top: 50px;
  padding-bottom: 30px;
}

.stat-items h2 {
  font-weight: bold;
  font-size: 42px;
  color: darkorange;
  margin-top: 8px;
}
.stat-items p {
  font-weight: bold;
  letter-spacing: 1px;
}

/*---------------------
  Tiny Slider
-----------------------*/

.myslider{
  background-color: #e32879;
}

.myslider div{
  padding-bottom: 20px;
}

.myslider h2{
  color:#fff;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.slider{
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider-item img{
  height: 150px;
  width: 150px;
}

.tns-controls{
  display: none;
}

li.tns-item{
  text-align:center;
}

/*---------------------
  Achievment Data
-----------------------*/
/*---------------------
  Overview
-----------------------*/

#overview{
  /* background-color: #e32879; */
  margin-top: 30px;
  text-align: center;
}

#overview p{
  /* margin-top: 10px; */
  padding: 30px;
  color: #e32879;
  text-align: justify;
}

#overview h3{
  color: #e32879;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: normal;
}

/*---------------------
  Keynote
-----------------------*/

#key-note{
  text-align: center;
  margin: auto;
  display: block;
  padding: 40px;
  /* background-color: #ff9933; */
}

#key-note h3{
  font-size: 40px;
  color:  #ff9933;;
  font-weight: bold;
  letter-spacing: normal;
}

#key-note p{
  text-align: justify;
  color:  #ff9933;
  padding-top: 50px;
  font-size: 18px;
  margin: auto;
  display: block;
}

/*---------------------
  Location
-----------------------*/

.location{
  /* width: 350px; */
  height: 200px;
  margin: auto;
  display: block;
  text-align: center;
}

.location p{
  font-size: 16px;
}

.card-title{
  padding: 10px;
}

/*---------------------
  Event
-----------------------*/

#event{
  text-align: center;
  padding: 50px;
  /* background-color: #e32879; */
}

#event h4{
  color:#e32879;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: normal;
}

#event p{
  color:black;
  text-align: justify;
  padding-top: 20px;
  margin: auto;
  display: block;
}

section.module.parallax-spl {
  height: 760px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1502957291543-d85480254bf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");;
}


/*---------------------
 Initiatives Section
 ----------------------*/
 .program-section {
	background:white;
	padding:30px;
}	

 .program-card {
	background-color: transparent;
	width: 200px;
	height: 200px;
	perspective: 1000px;
  }

  .program-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .program-card img{
    height: 100px;
    width: 100px;
  }

  .program-card:hover .program-card-inner {
	transform: rotateY(180deg);
  }

  .program-card-front, .program-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }

  .program-card-back {
  transform: rotateY(180deg);
  }

  .inibtn{
    padding: 18px 40px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #f47621;
    color: white;
  }
  
  .inibtn:hover{
    color: #f47621;
    background-color: white;
    border: 2px solid #f47621;
  }

@media screen and (max-width: 1024px) {
 
    .center-div{
        top:30%;
    }
    section.module.parallax-spl{
        height:55vh;
    }
}
@media screen and (max-width: 770px) {

    .center-div h1{
        font-size: 40px;
    }
    .section-title h2{
  font-size: 30px;
    }
    .vertical {
      display:hidden;
    }
 
}
@media screen and (max-width: 600px) {
    section.module.parallax-spl{
        height:70vh;
    }
    .center-div{
        top:40%;
    }

    .section-title h2{
     line-height: 1.5em;
     text-align: center;
    }
    .counter-text .btn{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
 
    .vertical{
        left:8%;
        margin-top: 45%;
        height:352px;
    }
    #footer-c{
        text-align: center;
    }
    .border{
        margin-left: 19%;
    }
}



  /*-----------------
  Achievements 
  -------------------*/
  .achieve{
    background-color: #F5F5F5;
  }

  .atitle h2 {
    font-size: 4vw;
    color: black;
  }

  .vertical {
    border-left: 6px solid #f47621;
    height: 280px;
    position: absolute;
    left: 45%;
  }
  
  .counter-item .ci-number {
    font-size: 46px;
    color: black;
    font-weight: 700;
    line-height: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .counter-item .ci-text h4 {
    font-size: 22px;
    color: black;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .anibtn{
    padding: 16px 30px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #f47621;
    color: white;
  }
  
  .anibtn:hover{
    color: #f47621;
    background-color: white;
    border: 2px solid #f47621;
  }
  
  
