@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
	-webkit-font-smoothing: antialiased;
	background-color: var(--bg1-color);
	--member-animation: all 0.35s cubic-bezier(0.14, 0.51, 0, 1);
  --details-color:rgb(236, 236, 236);
}

html[data-theme='dark'] {
	background-color: var(--bg1-color);
	--member-animation: all 0.35s cubic-bezier(0.14, 0.51, 0, 1);
	--details-color:#fff;
}

section {
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container .row:first-child {
	margin-top: 0px;
}

.section-heading {
	margin-bottom: 5px;
	width: 100%;
	font-family: 'Comfortaa', sans-serif;
	font-size: 55px;
	font-weight: 400;
	color: var(--font-color);
	text-align: center;
}

#teamHeading span {
	color: var(--theme-color);
}

#team .team-description {
	margin: 0 auto;
}

#team .team-description h4 {
	font-family: 'Quicksand', sans-serif;
	padding: 0;
	font-size: 18px;
	max-width: 500px;
	text-align: center;
}

#team h4 { 
	color: var(--font-color);
	font-size: 1.25rem;
	text-align: left;
	padding-top: 3rem;
	font-weight: 200;
	padding-bottom: 6rem;
	line-height: 1.618;
}

.container-year-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}
.container .row:last-child {
	margin-bottom: 0px;
}

.line {
	background-color: var(--heading-clr);
	border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.fab:hover {
	color: var(--bg1-color);
}

.seperator{
  color: var(--font-color) !important;
}

p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 30px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}

.card-wrap:hover .card-Bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 2s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.6;
}
.card-wrap:hover .Card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px;
}

.Card {
  position: relative;
  flex: 0 0 240px;
  width: 280px;
  height: 280px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:  0 3px 14px rgba(0, 0, 0, 0.2);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card-Bg {
  opacity: 0.9;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 2s 0s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
  box-sizing: unset !important;
}
 .card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
 .card-info p {
  opacity: 0;
  text-shadow: rgba(0, 0, 0, 1) 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.container-cards a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 5px;
  z-index: 99;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px 10px;
  transition: 0.6s;
  text-shadow: none;
}

.container-cards a:hover {
  text-decoration: none;
  font-size: 25px;
  box-sizing: unset !important;

}
a:hover .fa-linkedin-in {
  color: #0e76a8;
}  

a:hover .fa-github {
  color: #333;
}  

a:hover .fa-twitter {
  color: #00acee;
}

p span {
  font-family: 'Comfortaa';
  margin-left: 8px;
}  
 .card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card-info h1 {
  font-family: "Comfortaa";
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.team-center-heading {	
  font-family: 'Comfortaa', sans-serif;	  
  font-size: 55px;	
  font-weight: 400;	    
  text-align: center;	   
}	

.team-center-heading span {	
  font-weight: 400;	   
  color: var(--theme-color);
}

/* Media queries */

@media only screen and (max-width: 565px) {
	.container .row:last-child {
		padding: 10px;
	}
}


@media only screen and (min-width: 993px) {
	.container {
		width: 70%;
	}
}