@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
	-webkit-font-smoothing: antialiased;
	background-color: var(--bg1-color);
	--member-animation: all 0.35s cubic-bezier(0.14, 0.51, 0, 1);
	--details-color:rgb(236, 236, 236);
}

html[data-theme='dark'] {
	background-color: var(--bg1-color);
	--member-animation: all 0.35s cubic-bezier(0.14, 0.51, 0, 1);
	--details-color:#fff;
}

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
}

li {
	list-style: none;
}
section {
	padding: 120px 0;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container .row:first-child {
	margin-top: 0px;
}

.section-heading {
	margin-bottom: 5px;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: var(--font-color);
	user-select: none;
	text-align: center;
}

#teamHeading span {
	color: var(--theme-color);
}

#team .team-description {
	margin: 0 auto;
}

#team .team-description h4 {
	padding: 0;
	font-size: 20px;
	max-width: 500px;
	text-align: center;
}

#team h4 {
	color: #616161;
	font-size: 1.25rem;
	text-align: left;
	padding-top: 3rem;
	font-weight: 200;
	padding-bottom: 6rem;
	line-height: 1.618;
}

.container-year-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}
.container .row:last-child {
	margin-bottom: 0px;
}



.gs-team--board .gs-team-member-social :hover {
	background-color: rgba(240, 112, 0, 0.75);
}


.line {
	background-color: var(--heading-clr);
	border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.fab:hover {
	color: var(--bg1-color);
}

@media only screen and (max-width: 565px) {
	.container .row:last-child {
		padding: 10px;
	}
}


@media only screen and (min-width: 993px) {
	.container {
		width: 70%;
	}
}

.customContainer {
	width: 100%;
	min-height: 100vh;
}
.customRow {
	max-width: 1140px;
	margin: 0 auto;
	min-height: 90vh;
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.cardwrapper {
	width: 20rem;
	height: 20rem;
	position: relative;
	overflow: hidden;
	margin:1rem;
}

.customcard {
	width: 20rem;
	height: 20rem;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
}
.card-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 20rem;
	height: 20rem;
}

.card-image img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.details {
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--details-color);
	width: 100%;
	padding: 1rem;
	opacity: 0;
	transform: translateY(2rem);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.details h2 {
	font-size: 1.6rem;
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
	color: #ef6f00;
}

.details span {
	color: #000;
	font-size: 1.2rem;
}

.socials {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	display: flex;
	height: 10vh;
}

.socials li a {
	display: block;
	width: 3rem;
	height: 3rem;
	background: #fff;
	text-align: center;
	font-size: 20px;
	color: #333;
	font-weight: bold;
	margin: 0 6px;
	line-height: 3rem;
	border-radius: 50%;
	transition: 0.4s;
	transform: translateY(200px);
	opacity: 0;
}
.socials li a .fa{
	font-size:1.5rem;
	line-height:3rem;
}
.customcard:hover .socials li a {
	transform: translateY(0px);
	opacity: 1;
}

.customcard:hover .details {
	transform: translateY(0);
	opacity: 1;
	transition: 0.5s;
	z-index: 2;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.customcard:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.customcard:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.customcard:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.customcard:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}