@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg1-color);
    --separator-bgColor: linear-gradient(to right, rgba(0, 0, 0, 0), #111, rgba(0, 0, 0, 0));
    --box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
    --box-shadowOnHover: 0 0 8px 8px rgba(0,0,0,0.2);

}

html[ data-theme="dark"] {
    background-color: var(--bg1-color);
    --separator-bgColor:  #fff;
    --box-shadow: 0px 0px 3px 3px #fff;
    --box-shadowOnHover: 0 0 4px 4px #fff;
}

 body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.seperator{
    background: var(--separator-bgColor);
    max-width:75%;
}

.team {
    overflow-x: hidden;
}

.team h3{
    text-align: center;
}

.section1{
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

#teamHeading{
    font-family: 'Comfortaa', sans-serif;
    font-size: 45px;
    font-weight: 400;
    color:var(--font-color);
}

#teamHeading span {
    color: var(--theme-color);
}

#teamPara{
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    color: var(--font-color);
    font-weight: 400;
    letter-spacing: 0.6px;
}

.team-center-heading {
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-size: 55px;
    font-weight: 400;
    color:var(--font-color);
    text-align: center;

}

.team-center-heading span {
    font-weight: 400;
    color:var(--theme-color);
}

.team-name {
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    color: #555;
}

.team-name-2 {
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    color: #555;
}

.circularDiv{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
	cursor: pointer;
	transition: all 0.4s;
}
.circularDiv:hover {
	transform: scale(1.05);
	box-shadow: var(--box-shadowOnHover);
}

.team h2{
    text-align: center;
}

.boardRowHide, .techRowHide, .manageRowHide{
    margin-top: 20px;
    display: none;
}

.boardRowShow, .techRowShow, .manageRowShow{
    margin-top: 20px;
    display: flex;
}

@media only screen and (max-width: 440px){
    #teamImg{
        height: 250px;
        width: 250px;
        padding-left: 15px;
    }
}

@media only screen and (max-width:768px){
    .teamSection {
		padding-left: 17%;
	}
}

.techBtn,.boardBtn,.manageBtn{
  
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: white;
    font-weight: bold;
    transition: 0.6s;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0px #ff9a0e;
}

.manageBtn {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 17px;
}

.techBtn:hover, .boardBtn:hover, .manageBtn:hover{
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    box-shadow: 0 7px 8px #ff9a0e;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 372px){
    #teamHeading {
	  font-size: 50px;
    }

    .team-center-heading {
        font-size: 47px;
    }
}
@media only screen and (max-width: 536px){

    .team-center-heading span {
        display: flex;
        justify-content: center;
    }
}