@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');

html {
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --theme-color: #f47621;
  --bg1-color: #fff;
  --font-color: #111111;
  --bg2-color: #fff;
  --shadow-color: #191919;
  --footer-bg: #000;
  --footer-clr: #c4c4c4;
  --topBtn-bg: #f47621;
  --lgt-white: #f8f8f8;
  --heading-clr: #444;
  --eventcard: 5px 5px 15px rgba(0, 0, 0, 0.6);
  --box-clr: #fff;
  --wave1-bg: #636363;
  --wave2-bg: #b2b2b2;
  --box-shadow: 0 10px 25px rgba(240, 112, 0, 0.23),
    0 6px 0px rgba(240, 112, 0, 0.5);
  --btn-shadow: 0 5px 10px #ff9a0e;
  --nav-bar: #fff;
  --nav-color: #f47621;
  --nav-clr: #000;
  --txt-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  --navbar-toggle: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  --btn-text: #fff;
  --btn-hover: none;
}
html[data-theme='dark'] {
  --theme-color: rgb(245, 90, 43);
  --bg1-color: #121212;
  --font-color: #fff;
  --bg2-color: #272727;
  --shadow-color: #fff;
  --footer-bg: #000;
  --footer-clr: #fff;
  --topBtn-bg: #ff8723;
  --heading-clr: #fff;
  --eventcard: 0 2px 4px 0 #f47621;
  --box-clr: #202020;
  --wave1-bg: #686868;
  --wave2-bg: #b2b2b2;
  --box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  --nav-bar: #000;
  --nav-color: #fff;
  --nav-clr: rgb(245, 90, 43);
  --txt-shadow: 2px 7px 5px rgba(255, 255, 255, 0.3),
    0px -4px 10px rgba(0, 0, 0, 0.3);
  --navbar-toggle: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  --btn-text: #000;
  --btn-hover: whitesmoke;
}

body {
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
  background-color: var(--bg1-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--font-color);
  font-weight: 400;
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a.active {
  color: var(--nav-color) !important;
  font-weight: 800 !important;
  text-shadow: var(--txt-shadow);
}

ul,
ol {
  padding: 0;
  margin: 0;
}
#typeit {
  font-size: 8vw;
  font-weight: bold;
  color: rgb(247, 95, 39);
}
.dark-mode {
  color: var(--font-color);
}
.clr-wt {
  color: var(--bg1-color) !important;
}
.clr-theme {
  color: var(--theme-color) !important;
}
.fw-bold {
  font-weight: bold;
}
.fw-100 {
  font-weight: 100;
}
.fw-400 {
  font-weight: 400;
}
.bg-lgt-grey {
  background-color: var(--bg2-color) !important;
}
.bg-lgt-wt {
  background-color: var(--lgt-white);
}

.fs-17px {
  font-size: 17px;
}

.heading {
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-size: 45px;
  color: var(--heading-clr);
}

/* NAVBAR */

.navbar {
  background: var(--nav-bar);
  color: var(--nav-bar);
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 400;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
}

.navbar a {
  color: var(--nav-clr);
  font-weight: bold;
  font-size: 95%;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.6s;
}

.navbar ul li a:hover {
  -webkit-box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  display: block;
  background: rgba(255, 255, 255, 0.08);
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Quicksand', sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
  letter-spacing: 1px;
}

#logo {
  width: 150px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  content: var(--logo-image);
}

.navbar-toggler-icon {
  background-image: var(--navbar-toggle);
  cursor: pointer;
}

svg {
  width: 100%;
  overflow: visible;
}

.wave {
  -webkit-animation: wave 3s linear;
  animation: wave 3s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  fill: var(--footer-bg);
}

.drop {
  fill: var(--footer-bg);
  -webkit-animation: drop 3.2s linear infinite normal;
  animation: drop 3.2s linear infinite normal;
  stroke: var(--footer-bg);
  stroke-width: 0.5;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  transform-box: fill-box;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.drop2 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.drop3 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 3.4s;
  animation-duration: 3.4s;
}
.drop4 {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.drop5 {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
  -webkit-animation-duration: 3.1s;
  animation-duration: 3.1s;
}
.drop6 {
  -webkit-animation-delay: -2.1s;
  animation-delay: -2.1s;
  -webkit-animation-duration: 3.2s;
  animation-duration: 3.2s;
}
.gooeff {
  -webkit-filter: url(#goo);
  filter: url(#goo);
  fill: var(--footer-bg);
}

#wave1 {
  fill: var(--footer-bg);
}
#wave2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-direction: reverse;
  fill: var(--wave1-bg);
}

#wave3 {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  fill: var(--wave2-bg);
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  30% {
    -webkit-transform: translateY(-10px) scale(0.1);
    transform: translateY(-10px) scale(0.1);
  }
  30.001% {
    -webkit-transform: translateY(25px) scale(1);
    transform: translateY(25px) scale(1);
  }
  70% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-10px) scale(0.1);
    transform: translateY(-10px) scale(0.1);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  30% {
    -webkit-transform: translateY(-10px) scale(0.1);
    transform: translateY(-10px) scale(0.1);
  }
  30.001% {
    -webkit-transform: translateY(25px) scale(1);
    transform: translateY(25px) scale(1);
  }
  70% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-10px) scale(0.1);
    transform: translateY(-10px) scale(0.1);
  }
}
@-webkit-keyframes wave {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes wave {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.temp {
  margin-top: 20vh;
}

/* HOME PAGE */

.spacing {
  padding-left: 60px;
}

@media only screen and (max-width: 760px) {
  .spacing {
    padding-left: 10px;
  }
  .fw-bold {
    font-size: 30px;
  }
}

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #000;
    -webkit-transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #000;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #000;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes fadeInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: scale(5);
  }
}

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #000;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #000;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #000;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

/*------Initiatives Section--------*/

.initiatives-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem auto;
  max-width: 1140px;
}

.upper,
.lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.flip-card {
  width: 13rem;
  height: 13rem;
  -webkit-perspective: 62.5rem;
  perspective: 62.5rem;
  cursor: pointer;
  background-color: var(--bg2-color);
}

.flip-card-content {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-front {
  width: 13rem;
  height: 13rem;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-head {
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  color: var(--theme-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 1rem;
}

.flip-card-head span {
  display: block;
}

.flip-card-img {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.flip-img {
  width: 100%;
  height: 100%;
  text-align: center;
}

.flip-card-back {
  width: 13rem;
  height: 13rem;
  padding: 0.5rem 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--theme-color);
  color: var(--bg1-color);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media only screen and (hover: none) and (pointer: coarse) {
  .initiatives-cards {
    margin-bottom: 18rem;
  }

  .flip-card {
    -webkit-perspective: 0;
    perspective: 0;
  }
  .flip-card-content {
    position: static;
  }

  .flip-card-front {
    position: static;
  }

  .flip-card-back {
    position: static;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  .flip-card:hover .flip-card-content {
    display: block;
  }
}

.flip-card-detail {
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.85rem;
  color: white;
}

.flip-card:hover .flip-card-content {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media only screen and (hover: none) and (pointer: coarse) {
  .flip-card:hover .flip-card-content {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media only screen and (max-width: 1014px) {
  .initiatives-cards {
    max-width: 90%;
    margin: 0 auto;
  }

  .upper,
  .lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flip-card {
    margin: 1rem 0rem;
  }
}

@media only screen and (max-width: 632px) {
  .initiatives-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1017px) and (hover: none) and (pointer: coarse) {
  .upper {
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .lower {
    margin-bottom: 2rem;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .flip-card {
    margin-bottom: 16rem;
  }
}

/* Trends Section */

.join-us {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  color: var(--font-color);
}

.feature-cards {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 872px) {
  .feature-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 872px) {
  .feature-cards {
    margin-bottom: 0rem;
  }
}
.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: var(--font-color);
  cursor: pointer;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ih-item.circle {
  position: relative;
  width: 16rem;
  height: 16rem;
  border-radius: 5%;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 5%;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 5%;
  -webkit-box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 5%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid var(--bg1-color);
  -webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.circle.effect .img {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  width: auto;
  height: auto;
}
.ih-item.circle.effect .img:before {
  display: none;
}
.ih-item.circle.effect1.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect .info {
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect .info h3 {
  font-family: 'Quicksand', sans-serif;
  color: #ddd;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 40px 22px 0 30px;
  padding: 55px 0 0 0;
  height: 120px;
  text-shadow: 0 0 1px var(--bg1-color), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ih-item.circle.effect a:hover .info {
  opacity: 1;
}

li {
  list-style: none;
}

.space-out {
  margin-top: 20vh;
}

.ct1 {
  letter-spacing: 1px;
}
.ct2 {
  letter-spacing: 2px;
}
.ct3 {
  letter-spacing: 0px;
}

.clr-theme {
  font-weight: 400;
}

.line {
  background-color: #000;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}
.line1 {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: #f47621;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -16px;
  background-color: #ff9f55;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ff9f55;
}

.right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ff9f55 transparent transparent;
}

.right::after {
  left: -16px;
}

.time {
  position: absolute;
  top: 2px;
  margin: 0;
  padding: 8px 16px;
  border: 1px solid black;
  z-index: 5;
  border-radius: 18px;
  -webkit-transition: 300ms linear;
  -o-transition: 300ms linear;
  transition: 300ms linear;
  background-color: var(--box-clr);
}

@media screen and (min-width: 770px) {
  .time-1 {
    right: -220px;
  }

  .time-2 {
    left: -220px;
  }
}

@media screen and (max-width: 770px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .left::before {
    border-width: 10px 10px 10px 0;
    border-color: transparent #ff9f55 transparent transparent;
  }

  .right {
    left: 0%;
  }

  .time {
    border: none;
    position: relative;
    width: 175px;
    margin: 10px auto;
  }
  .time h5 {
    font-size: 20px;
  }
  .time-1 {
    right: 215px;
  }
  .time-2 {
    left: -215px;
  }
}
@media screen and (max-width: 760px) {
  .time {
    border: 1px solid var(--time-border);
  }
}

@media screen and (max-width: 767px) {
  .time-1 {
    right: 125px;
  }
  .time-2 {
    left: -125px;
  }
}
@media screen and (max-width: 560px) {
  .time-1 {
    right: 0px;
  }
  .time-2 {
    left: 0px;
  }
}

@media screen and (max-width: 395px) {
  .time {
    position: relative;
    max-width: 95%;
    margin: 10px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 57px;
    padding-right: 5px;
    padding-bottom: 30px;
  }
}

.description {
  letter-spacing: 0.5px;
  color: var(--font-color);
}

@media only screen and (max-width: 340px) {
  .card-text {
    margin-right: 4rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 1199px) {
  .font-weight-bolder {
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .description {
    font-size: 15px;
  }
  .time {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@media screen and (max-width: 396px) {
  .timeline-container::before {
    left: 46px;
  }
  .time {
    margin: auto;
  }
}

@media screen and (max-width: 403px) and (min-width: 396) {
  .timeline-container::before {
    left: 60px;
  }
}

.timeline-container .card-stats {
  text-align: center;
  margin-bottom: 5px;
}
/* Blogs Page */
.medium-widget-article__row {
  margin: 4rem 0rem;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.medium-widget-article__content {
  padding: 1rem;
}
.medium-widget-article__title:link,
.medium-widget-article__title:active,
.medium-widget-article__title:visited,
.medium-widget-article__title:hover {
  color: var(--theme-color);
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  font-weight: bold;
}

.medium-widget-article__description {
  color: #000;
}

.medium-widget-article__date {
  color: #000;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
}

.medium-widget-article__row {
  transition: 0.5s;
}

.medium-widget-article__row:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {
  .medium-widget-article__item {
    max-width: 500px;
    margin: 0 auto;
  }

  .medium-widget {
    width: 80%;
    margin: 0 auto;
  }
}

.afab {
  font-size: 4em;
  color: var(--theme-color);
  text-align: center !important;
}
.fa {
  display: inline-block;
  text-align: center !important;
}

.rh {
  font-weight: 500;
  font-family: 'Comfortaa', sans-serif;
}

/* Event page */

header {
  position: relative;
  background-repeat: no-repeat;
  height: 500px;
  background: url('/assets/images/event/bg-1.png');
  text-align: left;
  background-size: 100% 500px;
}

@media screen and (max-width: 1048px) {
  header {
    background: url('/assets/images/event/bg-resize.png');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1000px) {
  header {
    background: url('/assets/images/event/post-bg-1.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 900px) {
  header {
    background: url('/assets/images/event/prepost-bg-1.png');
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.color-overlay-1 {
  position: absolute;
  background-color: var(--bg1-color);
  opacity: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1048px) {
  .color-overlay-1 {
    opacity: 0.8;
  }
}

.heading1 {
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-size: 70px;
  padding-top: 8rem;
  color: var(--heading-clr);
}

@media screen and (max-width: 600px) {
  .heading1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 800px) {
  .heading1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1000px) {
  .heading1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  .heading1 {
    padding-top: 20px;
  }
}

#heading-plus {
  color: var(--theme-color);
  font-weight: lighter;
}

.heading-caption {
  color: #f58732;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.caption-1 {
  color: var(--heading-clr);
  font-size: 18px;
  font-weight: bold;
}

.caption-2 {
  font-size: 18px;
  color: var(--heading-clr);
}

.font-change {
  color: #f36511;
  font-weight: bolder;
}

.get-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--theme-color);
  padding-top: 100px;
  letter-spacing: 1px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.get-info a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.get-info a:hover {
  color: var(--font-color);
  text-shadow: 5px 5px 7px var(--shadow-clr);
}

/* Contact Page */

.main-section {
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba(0, 0, 0, 0.849)),
      to(rgba(0, 0, 0, 0.808))
    ),
    url('/assets/images/contact/contact.png');
  background-image: -o-linear-gradient(
      top left,
      rgba(0, 0, 0, 0.849),
      rgba(0, 0, 0, 0.808)
    ),
    url('/assets/images/contact/contact.png');
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.849),
      rgba(0, 0, 0, 0.808)
    ),
    url('/assets/images/contact/contact.png');
}

[data-aos^='fade'][data-aos^='fade'].aos-animate {
  opacity: var(--contactForm-opacity);
}

.def-sec {
  color: #fff;
  font-weight: 500;
}

.def h4 {
  font-family: 'Comfortaa', sans-serif;
  color: #f47621;
  font-size: 1.5rem;
  font-weight: bold;
}

.def {
  padding: 1rem;
}

.def i {
  font-size: 27px;
  padding-right: 5px;
  color: #fff;
}

.def div {
  padding: 0.2rem;
}

.def-sec {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  padding-right: 1rem;
  font-size: 0.9em;
}

@media only screen and (max-width: 994px) {
  .def {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 450px) {
  .def h4 {
    font-size: 21px;
  }
  .def-sec {
    font-size: 18px;
  }
}

.schedule-heading {
  text-align: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 340px;
}

.schedule {
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  color: var(--theme-color);
}

.schedule span {
  font-size: 80px;
}

.content {
  margin: 60px;
  padding: 20px;
}

@media only screen and (max-width: 920px) {
  .content {
    margin: 0 auto;
  }
}

#register {
  font-size: 30px;
  margin-top: 18px;
  color: white;
}
#time {
  font-size: 15px;
  margin-top: 20px;
  color: white;
}
#desc {
  font-size: 20px;
  margin-top: 20px;
  color: white;
  font-style: italic;
}

.faq-question {
  padding: 50px 0 0 10px;
}

.ques {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 7px;
  color: #f47621;
}
.ans {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
  color: #888;
}

.container-schedule {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0.4em;
}

.featured-schedule-collection {
  position: relative;
  background-color: #313131;
  margin: 5em auto;
  width: 1000px;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 10px;
}

.featured-schedule-collection:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 96%;
  background: #c5c5c5;
}

.featured-schedule-collection .schedule-box {
  margin: 0;
  padding: 0;
}

.featured-schedule-collection .schedule-box .links {
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.featured-schedule-collection .schedule-box .links:nth-child(odd) {
  float: left;
  clear: both;
}

.featured-schedule-collection .schedule-box .links:nth-child(even) {
  float: right;
  clear: both;
}

.featured-schedule-collection .schedule-box .links:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 40px;
  right: -8px;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.featured-schedule-collection .schedule-box .links:nth-child(odd):after {
  content: '';
  position: absolute;
  top: 40px;
  right: 36px;
  width: 0;
  height: 0;
  border: 10px solid white;
  border-width: 10px 0px 10px 13px;
  border-color: transparent transparent transparent #fff;
}

.featured-schedule-collection .schedule-box .links:nth-child(even):before {
  content: '';
  position: absolute;
  top: 40px;
  left: -6px;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.featured-schedule-collection .schedule-box .links:nth-child(even):after {
  content: '';
  position: absolute;
  top: 40px;
  left: 36px;
  width: 0;
  height: 0;
  border: medium solid white;
  border-width: 10px 13px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.featured-schedule-collection .schedule-box .links .time {
  position: absolute;
  top: 6px;
  margin: 0;
  padding: 8px 16px;
  border: 1px solid #f47621;
  border-radius: 18px;
  -webkit-transition: 300ms linear;
  -o-transition: 300ms linear;
  transition: 300ms linear;
}

.featured-schedule-collection .schedule-box .links .time-1 {
  right: -280px;
}
.featured-schedule-collection .schedule-box .links .time-2 {
  left: -270px;
}
.featured-schedule-collection .schedule-box .links .time-3 {
  right: -190px;
}
.featured-schedule-collection .schedule-box .links .time-4 {
  left: -250px;
}
.featured-schedule-collection .schedule-box .links .time-5 {
  right: -250px;
}

.featured-schedule-collection h2 {
  margin: 40px 0 10px 0;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.6em;
  font-weight: bolder; /* semi-bold */
  letter-spacing: 0.02em;
  width: 100%;
  text-align: center;
  background: none;
  color: #666;
}

.featured-schedule-collection > h2 span {
  padding: 0.5em;
  background: #fff;
  border-radius: 6px;
}

.featured-schedule {
  background-color: #fff;
  border-radius: 05px;
  min-height: 285px;
  position: relative;
  padding: 1.5em 2em 1em 2em;
  margin-bottom: 3em;
  text-align: justify;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: 0var (--box-shadow);
}

.featured-schedule-collection .schedule-box .links .time:hover > h3 {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  color: white;
}
.featured-schedule-collection .schedule-box .links .time:hover {
  background-color: #f47621;
  cursor: default;
  -webkit-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
}

.featured-schedule h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: #f47621;
  font-weight: bold;
  -webkit-transition: 300ms linear;
  -o-transition: 300ms linear;
  transition: 300ms linear;
}

.featured-schedule p {
  font-size: 1.1em;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
  color: #666;
}
.featured-schedule i {
  font-size: 700%;
  color: orange;
}

.faq-heading {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.faq-heading h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
}

.faq-heading h1 span {
  color: var(--theme-color);
}

.faq-subheading {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  padding-top: 10px;
  color: var(--font-color);
  font-weight: 500;
  letter-spacing: 1px;
}

.question-border {
  border-radius: 10px;
}

.question-border:hover {
  -webkit-transform: translateY(-5px);

  -ms-transform: translateY(-5px);

  transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 5px 0px rgba(100, 100, 100, 0.2);
  box-shadow: 0 5px 5px 0px rgba(100, 100, 100, 0.2);
  background: var(--theme-color);
  -webkit-transition: 300ms linear;
  -o-transition: 300ms linear;
  transition: 300ms linear;
  cursor: help;
}

.question-border:hover > .ques {
  color: black;
}

.question-border:hover > .ans {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
}
/* Register section */

.register-section {
  background: url('/assets/images/event/bg-3.png');
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 488px;
  height: 488px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.color-overlay-3 {
  position: absolute;
  background-color: var(--bg2-color);
  opacity: 0.1;
  height: 100%;
  width: 100%;
}

.register-heading {
  font-family: 'Comfortaa', sans-serif;
  font-size: 70px;
  font-weight: 500;
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
  width: 300px;
  letter-spacing: 2px;
  color: var(--theme-color);
}

.register-heading span {
  font-size: 50px;
  font-weight: lighter;
  color: var(--heading-clr);
}

.register-para {
  font-family: 'Quicksand', sans-serif;
  padding-right: 50%;
  font-size: 18px;
  color: var(--heading-clr);
}

.register-para span {
  font-size: 19px;
  color: var(--heading-clr);
}

.register-btn {
  margin: 4em 0 0 10px;
  z-index: 1;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
  text-align: center;
  width: 120px;
  background-color: var(--theme-color) !important;
  font-family: 'Comfortaa', sans-serif;
  padding: 10px 10px;
  display: block;
  color: var(--btn-text);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  border-radius: 5px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}

.register-btn:hover {
  box-shadow: var(--btn-shadow);
  -webkit-box-shadow: var(--btn-shadow);
  color: var(--btn-hover);
}


/* Contact Form */

.contact-form {
  border: 0px;
  text-align: left;
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: var(--bg2-color);
  margin-left: 10rem;
  border-radius: 7px;
}

.form-heading {
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-size: 45px;
  color: var(--font-color);
}

.contact-form:hover {
  text-align: left;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.contact-form p {
  color: rgba(0, 0, 0, 0.644);
  letter-spacing: 1px;
}

.form-group {
  position: relative;
  margin-bottom: 2.5rem;
}

.error-message {
  position: absolute;
  top: -20px;
  right: 10px;
  color: var(--theme-color);
  font-size: 14px;
  margin: 0;
  letter-spacing: 1.2px;
  display: none;
}
.error-message i {
  font-size: 15px;
  display: inline-block;
  margin-right: 3px;
}

.form-control-placeholder {
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  top: 0;
  padding: 6px 0 0 13px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 16px;
  color: var(--font-color);
  letter-spacing: 1px;
  cursor: text;
}

.form-control:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 100%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  font-weight: bold;
  color: var(--font-color);
  cursor: default;
  padding: var(--padding-placeholder);
}

.no-border {
  border: none;
  border-bottom: 1.5px solid black;
}

.form-control {
  background-color: var(--form-bg);
  color: var(--font-color);
  font-weight: 500;
  padding: 0.35rem 0.5rem !important;
}

.no-border:focus {
  border: none;
  border-bottom: 2.5px solid #f47621;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group-error {
  border-bottom: 2.5px solid var(--theme-color);
}
.form-group-error:focus {
  border-bottom: 2.5px solid var(--theme-color);
}

#submit-button {
  background: var(--theme-color);
  color: var(--btn-text);
  font-family: 'Comfortaa', sans-serif;
  padding: 10px 23px;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

#submit-button:hover {
  box-shadow: var(--btn-shadow);
  -webkit-box-shadow: var(--btn-shadow);
  color: var(--btn-hover);
}

/* COMPACT CAPTCHA */

.capbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1.5em 8px;
  margin-bottom: 35px;
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
.capbox .form-group {
  -webkit-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  max-width: 70%;
  margin-bottom: 0;
  padding-left: 20px;
}
input#CaptchaInput::-webkit-outer-spin-button,
input#CaptchaInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.capbox-inner {
  font: bold 12px arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  margin: 0px auto 0px auto;
  padding: 3px 10px 5px 10px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

#CaptchaDiv {
  color: #000000;
  font: normal 25px Impact, Charcoal, arial, sans-serif;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3px 14px 3px 8px;
  border-radius: 4px;
  cursor: default;
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
  border: none;
  color: var(--bg1-color);
  background-color: var(--theme-color);
  letter-spacing: 2.5px;
}

.side-sec {
  color: white;
  padding: 0.3rem;
  font-size: 20px;
  margin-top: 30px;
}

.container-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.def h4 {
  font-family: 'Comfortaa', sans-serif;
  color: var(--theme-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.def {
  padding: 1rem;
}

.def i {
  font-size: 27px;
  padding-right: 5px;
  color: #fff;
}

.def div {
  padding: 0.2rem;
}

.def-sec {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  padding-right: 1rem;
  font-size: 0.9em;
}

.font-weight-bold {
  text-align: center;
  padding-bottom: 1.5rem;
}

/* Responsive Section */

@media only screen and (max-width: 994px) {
  .contact-form {
    margin-left: 0;
  }
  .container-contact {
    display: inline;
    padding: 0;
  }
  .def {
    padding: 1rem 0;
  }
  .contact-form h1 {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 576px) {
  .capbox-inner {
    display: -webkit-box;
    margin: 3px auto 0 auto;
  }
  .capbox .form-group {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 0;
  }
  #CaptchaDiv {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .error-message {
    right: initial;
    top: initial;
    left: 0;
    bottom: -10px;
  }
}

@media only screen and (max-width: 994px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .def h4 {
    font-size: 21px;
  }
  .def-sec {
    font-size: 18px;
  }
  .form-heading {
    font-size: 35px;
  }
.scroll-to-top {
  display: block;
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  bottom: 2rem;
  right: 2rem;
}
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--theme-color);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  z-index: 999;
  font-size: 22px;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 7px 0px #000;
  box-shadow: 0 2px 7px 0px #000;
  cursor: pointer;
  /* opacity: 0;
  visibility: hidden; */
  -webkit-transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s;
  -o-transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s;
}
.gotopbtn i {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 464px) {
  .gotopbtn {
    bottom: 20px;
    right: 15px;
  }
}
