.navbar {
  background: var(--nav-bar);
  color: var(--nav-bar);
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 400;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
}

.navbar a {
  color: var(--nav-clr);
  font-weight: bold;
  font-size: 95%;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.6s;
}

.navbar ul li a:hover {
  -webkit-box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  display: block;
  background: rgba(255, 255, 255, 0.08);
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Quicksand', sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
  letter-spacing: 1px;
}

#logo {
  width: 150px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  content: var(--logo-image);
}

.navbar-toggler-icon {
  background-image: var(--navbar-toggle);
  cursor: pointer;
}

a.active {
  color: var(--nav-color) !important;
  font-weight: 800 !important;
  text-shadow: var(--txt-shadow);
}

@media only screen and (max-width: 1185px) {
  .nav-item {
    font-size: 0.93rem;
  }
}

@media only screen and (max-width: 1141px) {
  .nav-item {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 1094px) {
  .nav-item {
    font-size: 0.72rem;
  }
}

@media only screen and (max-width: 1054px) {
  .nav-item {
    font-size: 0.71rem;
  }
}

@media only screen and (max-width: 998px) {
  .nav-item {
    font-size: 0.7rem;
  }
}

.fullScreen-navigation {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202020;
}

.svg-img {
  position: absolute;
  right: 2px;
  width: 440.7px;
  height: 390.98px;
}

@media screen and (max-width: 480px) {
  .svg-img {
    width: 240.7px;
    height: 240.98px;
  }
}

#right-wheel,
#left-wheel {
  -webkit-animation: wheel 2s infinite linear;
  animation: wheel 2s infinite linear;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes wheel {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes wheel {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.navigation-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.fullScreen-navigation a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #eeeeee;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 100;
}

.fullScreen-navigation a:hover,
.fullScreen-navigation a:focus {
  color: #f46721;
}

.fullScreen-navigation .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 45px;
}

@media screen and (max-width: 480px) {
  .navigation-content {
    top: 10%;
    margin-top: 10px;
  }

  .fullScreen-navigation a {
    font-size: 15px;
  }

  .fullScreen-navigation .closebtn {
    font-size: 40px;
    top: 15px;
    right: 20px;
  }
}
