@import url(http://fonts.googleapis.com/css?family=Roboto:400, 100, 300, 700);

body {
	background-color: #fff;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 28px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}
h1 {
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 100;
}
p {
	font-weight: 300;
	letter-spacing: 0.5px;
}
strong {
	font-weight: 400;
}
img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
.duel-image {
	width: 90% !important;
}
ul {
	padding: 0;
}
ul li {
	list-style: none;
}
.navbar-default .navbar-toggle {
	border-color: transparent !important;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 16px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	border-radius: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent !important;
}

.btn-primary {
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 0;
	border: none;
}

.dark-bg {
	background-color: #e7e7e7;
}
.underline {
	position: relative;
	font-size: 20px;
	max-width: 350px;
	margin: auto;
	margin-bottom: 80px;
}
.underline:before {
	position: absolute;
	content: '';
	width: 150px;
	height: 1px;
	background-color: #777;
	top: 50%;
	left: 0;
}
.underline:after {
	position: absolute;
	content: '';
	width: 200px;
	height: 1px;
	background-color: #777;
	top: 50%;
	right: 0;
}
.custom-btn {
	background-color: transparent;
	color: #e9e9e9;
	border-radius: 0;
	border: 1px solid #ffffff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.custom-btn:hover {
	background-color: #0099ff;
	color: #fff;
	border-color: transparent;
}
.btn:active,
.btn.active {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.header {
	text-align: center;
	margin: 0 auto;
}
.header p {
	margin-bottom: 30px;
}
.bg-color {
	background: rgba(0, 0, 0, 0.5);
	color: #d4d4d4;
}
.section-padding {
	padding-top: 100px;
	padding-bottom: 40px;
}
.carousel-inner {
	width: 110% !important;
}
.carousel-indicators {
	bottom: -50px;
	left: 65% !important;
}
.social a {
	display: block;
	width: 40px;
	font-size: 28px;
	border-radius: 100%;
	text-align: center;
	color: #949494;
	margin: 10px 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.social a:hover {
	color: #f3801d;
}
.form-control {
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control:focus,
textarea:focus {
	border-color: #0099ff !important;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* service lists */
.service {
	margin-bottom: 20px;
}
.service .media-right i.fa {
	text-align: center;
	font-size: 30px;
	background-color: #f3801d;
	color: #ffffff;
	padding: 25px 0;
	border-radius: 50px;
	border-top-left-radius: 0;
	margin: 0 10px;
	margin-right: 20px;
	width: 82px;
	height: 80px;
	transition: background-color 0.5s;
}
.service .media-left i.fa {
	text-align: center;
	font-size: 30px;
	background-color: #f3801d;
	color: #ffffff;
	padding: 25px 0;
	border-radius: 50px;
	border-top-right-radius: 0;
	margin: 0 10px;
	margin-left: 20px;
	width: 82px;
	height: 80px;
	transition: background-color 0.5s;
}
.process:hover i.fa,
.service:hover i.fa {
	background-color: #333333;
}
h4.media-heading {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
	line-height: 20px;
}

/* =========================================
    Section Header                 
========================================= */
header {
	background: url(images/bg.jpg) 120rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% !important;
}
.top .photo-slide {
	max-width: 252px;
	margin: auto;
	padding-bottom: 50px;
}
.top .photo-slide img {
	max-width: 115%;
	height: auto;
}
.top .content {
	color: #fff;
}
.top .content h1 {
	font-size: 46px;
	margin-top: 22%;
}
.top .content h2 {
	font-size: 27px;
	font-weight: 300;
	margin-bottom: 29px;
	line-height: 36px;
	color: #cacaca;
}
.top .content p {
	font-size: 18px;
	margin-bottom: 70px;
	letter-spacing: 1px;
}
.top .content .button a {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 50px;
	padding: 12px 20px;
	border-radius: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.top .content .button a i {
	margin-right: 20px;
}
.top .content .button a:hover {
	background-color: #fff;
	color: #222;
}
.top .content h1 strong {
	color: #ef6f00 !important;
}
.carousel-indicators .active {
	width: 18px;
	height: 9px;
	margin: 0;
	background-color: #fff;
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	border-radius: 0;
	width: 18px;
	height: 9px;
}

/* =========================================
    Section Menu                 
========================================= */
.navigation {
	min-height: 70px;
}

.navigation .navbar {
	border: none;
	margin-bottom: 0;
	min-height: 70px;
}
.navigation .navbar .navbar-brand {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	height: 70px;
	line-height: 35px;
}
.navigation .navbar-default {
	background: linear-gradient(to right, #f09819, rgb(247, 98, 69));
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 0;
	clear: both;
}
.navigation .navbar-default .navbar-nav > li > a {
	color: #001f3e;
	font-weight: 400;
	padding-top: 25px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-size: 14px;
}

.navigation .navbar-default .navbar-nav > li > a:hover,
.navigation .navbar-default .navbar-nav > .active > a,
.navigation .navbar-default .navbar-nav > .active > a:hover,
.navigation .navbar-default .navbar-nav > .active > a:focus {
	background: none;
	color: #ffffff;
}
.navigation .btn-default:hover,
.navigation .btn-default:focus,
.navigation .btn-default:active,
.navigation .btn-default.active {
	border-color: transparent;
}

.aboutApp .section-padding {
	padding-top: 70px !important;
}

/* =========================================
    Section Features                 
========================================= */
.features .featured-item-img {
	width: 230px;
	margin-left: -70px;
	margin-right: 0;
	margin-bottom: 50px;
}
.featured-item-img img {
	max-width: 300px !important;
}
.features .header h4 {
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 300;
}
.featured-item .icon-style {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 1px solid #f3801d;
	text-align: center;
	padding: 15px 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.featured-item .icon i {
	font-size: 30px;
	margin-top: 0px;
	color: #0099ff;
}
.featured-item h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #333;
	font-weight: 400;
}
.featured-item p {
	margin-bottom: 50px;
	letter-spacing: 0.5px;
}
.featured-item .meta-text {
	margin-left: 80px;
}
.featured-item .icon {
	width: 60px;
	height: 60px;
	float: left;
}
.featured-item:hover .icon-style {
	border-radius: 0;
}
.content {
	margin-top: 135px;
}

/* =========================================
    Section Screenshots                 
========================================= */
.owl-carousel {
	margin-bottom: 50px;
}
.owl-carousel .item {
	margin: 0 10px;
}
.owl-carousel .item img {
	border: 2px solid #ccc;
	border-radius: 5px;
}
.owl-theme .owl-controls {
	margin-top: 25px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
	color: #fff;
	*display: inline-block;
	zoom: 1;
	display: inline; /*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50); /*IE7 fix*/
	opacity: 0.5;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100); /*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline; /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50); /*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100); /*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #fff;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center;
}

/* =========================================
    Section Description                 
========================================= */
.description .app-image {
	max-width: 441px;
	margin: auto;
	margin-bottom: 50px;
}
.description .content h4 {
	font-size: 28px;
	margin-bottom: 30px;
	font-weight: 100;
}
.description .content .button .get-btn {
	padding-right: 30px;
}
.description .content .button a {
	margin-right: 30px;
	margin-bottom: 30px;
	font-weight: 400;
}
.description .content .button i {
	margin-right: 15px;
}
.description .content p {
	margin-bottom: 70px;
	font-weight: 300;
	letter-spacing: 1px;
}
.description .button {
	margin-bottom: 20px;
}
.description-two .content p {
	margin-bottom: 40px;
	font-weight: 300;
	letter-spacing: 1px;
}
.description .content .list-item {
	list-style: none;
	margin: 0;
	padding: 0 0 35px 0;
}
.description .content .list-item li i {
	margin-right: 15px;
	color: #0099ff;
}
.description .content .list-item li {
	margin-bottom: 15px;
}
/* =========================================
    Section Testimonial                 
========================================= */
#testimonial {
	background: url(images/bg1.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	background-position: 50% !important;
}
.bg-testimonial {
	background-image: url(images/pattern5.png);
}
.testimonial .testimonial-slide {
	width: 70%;
	margin: auto;
	text-align: center;
	margin-bottom: 70px;
}
.testimonial .testimonial-slide .image {
	width: 150px;
	height: 150px;
	margin: auto;
	border: 2px solid #ccc;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}
.carousel-inner .content {
	margin-top: 50px !important;
}
.testimonial .testimonial-slide .content p {
	position: relative;
	padding: 0 50px;
	margin-bottom: 50px;
	color: #bababa;
}
.testimonial .testimonial-slide .content p:before {
	position: absolute;
	content: '\f10d';
	font-family: FontAwesome;
	font-size: 30px;
	top: 0;
	left: 0;
}
.testimonial .testimonial-slide .content p:after {
	position: absolute;
	content: '\f10e';
	font-family: FontAwesome;
	font-size: 30px;
	bottom: 0;
	right: 0;
}

.testimonial-slide .carousel-indicators {
	left: 55% !important;
}

/* =========================================
     Section Subscribe                 
========================================= */
.subscribe {
	text-align: center;
}
.subscribe .subscribe-header {
	width: 70%;
	margin: auto;
}
.subscribe .subscribe-header p {
	margin-bottom: 30px;
}
.subscribe .subscribe-form input {
	width: 100%;
	margin: auto;
	height: 60px;
	border-radius: 0;
	background-color: transparent;
}
.input-group-addon {
	padding: 0 !important;
	font-size: 14px;
	font-weight: 400;
	color: #555;
	text-align: center;
	background-color: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	height: 60px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.input-group-addon:hover {
	background-color: #f3801d;
	border-color: #f3801d;
	color: #fff;
}

.input-group-addon button {
	background: transparent;
	border: none;
	margin-bottom: 0px;
	padding: 10px 70px;
	font-size: 20px;
	font-weight: 400;
	outline: none;
}
.subscribe .social {
	margin: auto;
	display: table;
	margin-bottom: 50px;
}
.subscribe .social ul {
	padding: 30px 0;
}
.subscribe .social li {
	float: left;
	list-style: none;
	margin-right: 10px;
}
/* =========================================
    Section Download                 
========================================= */
#download {
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
		url(images/bg2.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	background-position: 50% !important;
}
.download {
	background-image: url(images/pattern5.png);
}
.download .underline:before,
.download .underline:after {
	background-color: #bbb;
}
.download .download-area img {
	width: 30px;
	float: left;
	margin-top: 15px;
}
.download .download-area .download-btn {
	font-size: 28px;
	padding: 12px 0 10px 10px;
	min-width: 263px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	display: table;
}
.download-btn:hover {
	background-color: #f3801d !important;
}
.download .download-area span {
	display: block;
	font-size: 18px;
	margin-bottom: -5px;
}
.download .download-area a i {
	float: left;
	margin-top: 15px;
}
.download .download-area a i.fa-mobile {
	font-size: 50px;
	margin-top: 5px;
}
.download .download-area .app-download {
	margin-left: 40px;
	text-align: left;
	font-weight: 100;
}
.download .download-area .app-download strong {
	font-weight: 300;
}

/* =========================================
   Section Footer                 
========================================= */

.footer {
	text-align: center;
}
.footer .contact input {
	width: 100%;
	height: 50px;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 30px;
}
.footer h1 {
	margin-bottom: 60px;
}
.footer .contact textarea {
	width: 100%;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 10px;
	outline: 0;
	padding: 10px;
	border: 1px solid #ccc;
	min-height: 210px;
}
.footer .contact input:focus {
	border: 1px solid #f3801d !important;
}
.footer .contact textarea:focus {
	border: 1px solid #f3801d !important;
}
.footer .contact .contact-submit {
	padding: 10px 30px;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 50px;
	background-color: #353535;
	border: 2px solid #353535;
	border-radius: 10px;
}
.footer .contact .contact-submit:hover {
	background-color: #f3801d;
	border: 1px solid #f3801d;
}
.footer .contact .contact-submit i {
	margin-right: 10px;
}

/* =========================================
    Section Copyright                 
========================================= */
.copyright {
	text-align: center;
	padding: 30px 0;
}
.copyright .container a {
	color: #f3801d;
}

/* =========================================
   Responsiveness               
========================================= */

@media screen and (max-width: 992px) {
	.container {
		width: 100%;
	}
	.price .container,
	.footer .container {
		width: 90%;
	}
}
@media screen and (max-width: 768px) {
	h1 {
		font-size: 52px;
	}
	.navigation .navbar-default .navbar-nav > li > a {
		color: #fff;
		font-weight: 400;
		padding-top: 8px;
		padding-bottom: 8px;
		text-transform: uppercase;
	}
	.features .featured-item-img {
		width: 100%;
		text-align: center;
		margin: 0 auto 25px;
	}
	.features .featured-item-img img {
		margin: 0 auto;
		text-align: center;
	}
	.top .content h1 {
		font-size: 64px;
		text-align: center;
	}
	.top .content h2 {
		text-align: center;
	}

	.testimonial .testimonial-slide {
		width: 90%;
	}
	.subscribe .subscribe-header {
		width: 100%;
	}
	.price .container,
	.footer .container {
		width: 100%;
	}
}
@media screen and (max-width: 640px) {
	h1 {
		font-size: 44px;
	}

	.underline {
		max-width: 250px;
	}
	.underline:before,
	.underline:after {
		width: 100px;
	}
	.top .content h1 {
		font-size: 56px;
		margin-top: 0;
	}
	.features {
		padding-top: 30px;
	}
	.description .content .button a {
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	.testimonial .testimonial-slide {
		width: 100%;
	}
	.subscribe .social li {
		margin-right: 5px;
	}
	.footer .contact .contact-submit {
		padding: 10px 30px;
		font-size: 20px;
	}
}
@media screen and (max-width: 480px) {
	.header {
		width: 100%;
	}

	.underline {
		max-width: 200px;
	}
	.underline:before,
	.underline:after {
		width: 75px;
	}
	.featured-item .icon {
		float: none;
		margin: auto;
	}
	.featured-item .meta-text {
		margin-left: 0px;
		text-align: center;
	}
	.featured-item p {
		margin-bottom: 60px;
	}
	.testimonial .testimonial-slide .content p {
		padding: 0 30px;
	}
	.testimonial .testimonial-slide .content p:before,
	.testimonial .testimonial-slide .content p:after {
		font-size: 22px;
	}
	.price .price-table {
		padding: 0 15px;
	}
	.price .price-list ul {
		padding-left: 0px;
	}
	.input-group-addon {
		height: 50px;
	}
	.subscribe .subscribe-form input {
		height: 50px;
	}
	.subscribe .subscribe-form button {
		padding: 10px 20px;
		font-size: 18px;
	}
}

@media screen and (max-width: 700px) {
	.top .photo-slide img {
		width: 300px;
		max-width: 90% !important;
	}
	.carousel-indicators {
		bottom: -50px;
		left: 50% !important ;
	}
}

@media screen and (max-width: 767px) {
	.top .content .button a {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: table;
		margin-bottom: 100px;
	}
}
