body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans Extrabold", sans-serif;
  height: 100%;
	-webkit-font-smoothing: antialiased;
}

.container {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.image{
  width: 45rem;
}

.container h2 {
  font-size: 50px;
  letter-spacing: 3px;
  margin-block-end: 5px;
}

.container p{
  font-size: 17px;
  color: #000000;
}

.container a {
  text-decoration: none;
  background: rgb(131, 180, 240);
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.container a:hover {
  background: rgb(85, 160, 252);
}

/* Responsive Section */

@media only screen and (max-width: 500px) {

	.container {
    top: 90%;
    width: auto;
	}
}

