*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;

}

html{
    font-family:62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body{
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color:#333;
}


/*
------------------------
    Global Styling
------------------------
*/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*
------------------------
    Typography Styles
------------------------
*/

.secondary-heading{
    margin-top:10rem;
    margin-bottom:3rem;
    text-align:center;
    font-size:3rem;
    letter-spacing:2px;
    font-weight:400;
}
.secondary-heading::after{
    content:" ";
    display:block;
    width:20%;
    margin:0 auto;
    height:5px;
    background:#F09819;
}

/*
------------------------
    Navigation Styling
------------------------
*/
.navbar {
  background: linear-gradient(to right, #F09819, #FF512F);
  color: #fff !important;
}

.navbar a{
  color: white;
  font-weight: normal;
  font-size: 120%;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

ul.navbar-nav a:hover{
    color:black;
}


.active span{
    color: black;
    font-weight: 400;
}

/*
------------------------
    Event Card Styling
------------------------
*/

.event__card{
    display:flex;
    background-color: rgba(235, 241, 241, 0.849);
    width:max-content;
    margin:2rem auto;
    padding:3rem;
    box-shadow: 0.3rem 0.1rem 0.7rem rgb(78, 78, 78);
    align-items: center;
    border-radius:1rem;
   
}

.event__card-text{
    padding:2rem;
    margin-left:1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.event__card-head{
    font-size:2.2rem;
    text-align:center;
    margin-bottom:1rem;
}

.event-img{
    width:10rem;
    height:10rem;
    border-radius: 3rem;
}

.btn-card:link,.btn-card:visited{
    border:1px solid #FF512F;
    padding:0.4rem 1rem;
    margin-right:0.9rem;
    color:white;
    background:#FF512F;
    z-index:4;
     background: linear-gradient(to right, rgb(245, 92, 61), rgba(243, 59, 23, 0.897));
}

.btn-card:hover,.btn-card:active{
    box-shadow: 0rem 0.1rem 0.2rem black;
}


/*
------------------------
    Media Queries
------------------------
*/

@media only screen and (max-width:700px){
    .secondary-heading{
        font-size:2.2rem;
    }
    .secondary-heading::after{
        width:40%;
    }

    .event__card{
        width:max-content;
        padding:1rem;
    }

    .event__card-head{
        font-size:1.1rem;
    }

    .event-img{
        width:6rem;
        height:6rem;
        border-radius:2rem;
    }

    .btn-card:link,.btn-card:visited{
        padding:0.1rem 0.2rem;
        margin-right:0.5rem;
        font-size:0.9rem;
    }

}


@media only screen and (max-width:400px){
    #burger{
        top:1.2rem;
        width:1.4rem;
        height:1.4rem;
    }

    .logo{
        width:12rem;
        margin-left:0;
        padding:1rem 1rem;
    }   

    .secondary-heading{
        font-size:2rem;
    }

    .secondary-heading::after{
    width:35%;
    }

    .event__card{
        width:max-content;
        padding:0.3rem 0.8rem;
    }

    .event__card-head{
        font-size:1.2rem;
    }

    .event__card-text{
        padding:1rem;
    }

    .event-img{
        width:4rem;
        height:4rem;
        border-radius:1rem;
    }

    .btn-card:link,.btn-card:visited{
        padding:0.2rem 0.3rem;
        margin-right:0.5rem;
        font-size:0.7rem;
    }

}
