{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["import"],
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
  "settings": {
    "react": {
      "version": "16.13"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable"
  }
}
